
<ul class="nav nav-pills nav-justified">
  <li role="presentation"  (click)="aaa()" [ngClass]="aa"><a  routerLink="/main/topclaim/addkouka/listkouka"  class="text-success">効果確認一覧</a></li>
  <li role="presentation"   (click)="bbb()" [ngClass]="bb"><a  routerLink="/main/topclaim/addkouka/inputkouka"  class="text-success">効果確認登録</a></li>
  <!--<li role="presentation"  [ngClass]="cc"><a  routerLink="/main/topclaim/addkouka/addimagekouka" class="text-success" >関連ファイル登録</a></li>-->
</ul>


<router-outlet></router-outlet>
