<div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    対応情報一覧
  </div>
  <div class="panel-body">
    <div class="form-group">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th >
            効果確認内容一覧
          </th>
          <th >
            編集
          </th>
          <th >
            関連ファイル
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of newkoukaList let idx = index;">
          <td>{{idx+1}}</td>
          <td>{{item.name}}　　所属:　{{item.siten}}　{{item.busyo}}<br>
            登録日:　{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}
            <hr>







            <p class="help-block">効果確認</p>
            <div>
              <label>以前の状態より改善されたか{{item.aa}}</label>
            </div>


            <div>
              <label>対策の狙いは達成できたか  {{item.bb}}</label>
            </div>


            <div>
              <label>副作用は発生してないか {{item.cc}}</label>
            </div>


            <div>
              <label >水平展開はできているか {{item.dd}}</label>
            </div>



            {{item.naiyou}}
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="setEdit(idx)">編集</button>
            <button type="button" class="btn btn-danger" (click)="Delete(idx)">削除</button>

          </td>

          <td>
            <button type="button" class="btn btn-primary" (click)="addImage(idx)">関連ファイル登録</button>
            <button type="button" class="btn btn-primary" (click)="View(idx)">関連ファイル</button>
          </td>


        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





<button  *ngIf="OnOff" type="button" class="btn btn-primary" (click)="Close()">閉じる</button>
<app-view-image *ngIf="OnOff"  [jyoukyouData]="jyoukyouData" [passwordData]="passwordData"></app-view-image>

<!--編集ダイアログ-->
<app-kouka-dialog [koukaData]="koukaData"  #editKoukaDialog></app-kouka-dialog>
