<div class="panel panel-default" style="width: 80%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    情報詳細
  </div>
  <div class="panel-body">

    <!--<div class="container">-->

    <!--&lt;!&ndash; content &ndash;&gt;-->
    <!--<div class="row" style="padding:10px 0 0 0">-->
    <!--&lt;!&ndash; left &ndash;&gt;-->
    <!--<div class="col-md-9">-->




    <div class="form-group">
      <label for="syubetu">情報種別</label>
      <input type="text" class="form-control" [(ngModel)]="syubetu" id="syubetu" value="{{syubetu}}">
    </div>

    <div class="form-group">
      <label for="seihin">製品名</label>
      <input type="text" class="form-control" [(ngModel)]="seihin" id="seihin" value="{{seihin}}">
    </div>

    <div class="form-group">
      <label for="gaiyou">情報概要</label>
      <input type="text" class="form-control" [(ngModel)]="gaiyou" id="gaiyou" value="{{gaiyou}}">
    </div>




    <div class="form-group">
      <label for="syousai">情報詳細</label>
      <textarea type="text" class="form-control" [(ngModel)]="syousai" id="syousai" value="{{syousai}}"></textarea>
    </div>

    <div class="form-group">
      <label for="moto">情報元</label>
      <input type="text" class="form-control" [(ngModel)]="moto" id="moto" value="{{moto}}">
    </div>

    <div class="form-group">
      <label for="hasseibasyo">発生場所 工程</label>
      <input type="text" class="form-control" [(ngModel)]="basyo" name="basyo" id="hasseibasyo" placeholder="(例)組み立て工程のライン上。出荷作業中">
    </div>

    <div class="form-group">
      <label for="hasseibi">発生日</label>
      <input type="text" id="hasseibi" class="form-control" (click)="open()" placeholder="発生日入力" value="{{ dt | date:'yyyy/MM/dd'}}">
      <div *ngIf="opened">
        <div style="display:inline-block; min-height:290px;">
          <datepicker  [(ngModel)]="dt" name="dt"></datepicker>
          <button type="button" class="btn btn-warning" (click)="open()">閉じる</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="hasseiji">発生時間帯【予想される時間帯】</label>
      <timepicker id="hasseiji" [(ngModel)]="mytime" name="mytime"></timepicker>
    </div>

    <div class="form-group">
      <label for="seihinInfo">製品補足情報</label>
      <textarea type="text" class="form-control" [(ngModel)]="seihininfo" name="seihininfo"  id="seihinInfo" placeholder="対象製品の補足情報を入力ください。"></textarea>
    </div>


    <div class="form-group">
      <label for="yosoukoutei">対応が必要と予想される部署 工程</label>
      <input type="text" class="form-control" [(ngModel)]="yosoukoutei" name="yosoukoutei" id="yosoukoutei">
    </div>

    <div class="form-group">
      <label for="toukousya">投稿者</label>
      <input type="text" class="form-control" [(ngModel)]="name" id="toukousya" value="{{name}}">
    </div>

    <div class="form-group">
      <label for="siten">支店</label>
      <input type="text" class="form-control" [(ngModel)]="siten" id="siten" value="{{siten}}">
    </div>

    <div class="form-group">
      <label for="busyo">部署</label>
      <input type="text" class="form-control" [(ngModel)]="busyo" id="busyo" value="{{busyo}}">
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3">公開しますか?</label>

      <label class="radio-inline">

        <input type="radio" [(ngModel)]="model.label"  name="label" value="kari">仮登録


      </label>
      <label class="radio-inline">
        <input type="radio" [(ngModel)]="model.label"  name="label" value="koukai">公開
      </label>

    </div>

    <div class="form-group">
      <label for="password">パスワード</label>
      <input type="text" class="form-control" [(ngModel)]="password" id="password" value="{{password}}">
    </div>








    <button *ngIf="!OnOff" type="button" (click)="test()" class="btn btn-primary btn-block">test</button>

    <div *ngIf="check" class="alert alert-danger" role="alert">パスワードが違います。</div>
    <div *ngIf="OnOff" class="alert alert-info" role="alert">編集されました。一覧画面の詳細表示から変更を確認ください。</div>
    <button *ngIf="!OnOff" type="button" (click)="onEdit()" class="btn btn-primary btn-block">編集</button>

    <!--<a (click)="onoff()" class="text-info">応急対応や恒久対策の件数が不一致の際,修正ボタン</a>-->

    <!--<div *ngIf="OnOff2">-->
      <div class="form-group">
        <label for="taiou">応急対応数(数が合わない場合修正ください。半角数字)</label>
        <input type="text" class="form-control" [(ngModel)]="taiou" id="taiou" value="{{taiou}}">
        <div *ngIf="taiouOnOff" class="alert alert-danger" style="margin-top: 10px" role="alert">半角数字で入力ください。</div>
      </div>
      <div class="form-group">
        <label for="taisaku">恒久対策数(数が合わない場合修正ください。半角数字)</label>
        <input type="text" class="form-control" [(ngModel)]="taisaku" id="taisaku" value="{{taisaku}}">
        <div *ngIf="taisakuOnOff" class="alert alert-danger" style="margin-top: 10px" role="alert">半角数字で入力ください。</div>
      </div>
      <!--<div class="form-group">-->
        <!--<label for="genin">原因分析数(数が合わない場合修正ください。半角数字)</label>-->
        <!--<input type="text" class="form-control" [(ngModel)]="genin" id="genin" value="{{genin}}">-->
        <!--<div *ngIf="geninOnOff" class="alert alert-danger" style="margin-top: 10px" role="alert">半角数字で入力ください。</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="kouka">効果確認数(数が合わない場合修正ください。半角数字)</label>-->
        <!--<input type="text" class="form-control" [(ngModel)]="kouka" id="kouka" value="{{kouka}}">-->
        <!--<div *ngIf="koukaOnOff" class="alert alert-danger" style="margin-top: 10px" role="alert">半角数字で入力ください。</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="comment">コメント数(数が合わない場合修正ください。半角数字)</label>-->
        <!--<input type="text" class="form-control" [(ngModel)]="comment" id="comment" value="{{comment}}">-->
        <!--<div *ngIf="commentOnOff" class="alert alert-danger" style="margin-top: 10px" role="alert">半角数字で入力ください。</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="file">ファイル数(数が合わない場合修正ください。半角数字)</label>-->
        <!--<input type="text" class="form-control" [(ngModel)]="file" id="file" value="{{file}}">-->
        <!--<div *ngIf="fileOnOff" class="alert alert-danger" style="margin-top: 10px" role="alert">半角数字で入力ください。</div>-->
      <!--</div>-->

    <!--</div>-->


  </div>
</div>



<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--プログレスダイアログ-->
<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>
<!--成功ダイアログ-->
<app-success-dialog #successDialog></app-success-dialog>

