<div class="panel panel-default">
  <div class="panel-heading">
    各種情報(応急対応、原因分析、恒久対策)を登録する方法
  </div>
  <div class="panel-body">


    <p>一覧画面より</p>
    <img src="assets/usage/taiouAdd/1.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/3.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/4.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/5.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/6.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/7.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/8.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/9.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/10.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/11.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/12.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/13.png" style="width: 800px" alt="">
    <img src="assets/usage/taiouAdd/14.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/15.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/taiouAdd/16.png" style="width: 800px" alt="">
    <hr class="style-two">


    <hr class="style-two">

  </div>
</div>
