<!--<app-image-top></app-image-top>-->

<div class="panel panel-default" style="width: 100%;margin: 0 auto;">
  <div class="panel-heading">
    関連ファイル登録
  </div>
  <div class="panel-body">

  <input  style="display:none" id="input-file-id" type="file" appAddImageFile/>
<label  for="input-file-id" class="btn btn-info"><span class="glyphicon glyphicon-paperclip" aria-hidden="true">ファイル選択</span></label>

  <app-image-list></app-image-list>
  </div>
</div>
  <!--<button class="btn btn-primary" (click)="test()">アップロード</button>-->





