
<!--<div class="container">-->

  <!--&lt;!&ndash; content &ndash;&gt;-->
  <!--<div class="row" style="padding:10px 0 0 0">-->
    <!--&lt;!&ndash; left &ndash;&gt;-->
    <!--<div class="col-md-9">-->


<div class="panel panel-default" style="width: 100%;margin: 0 auto;">
  <div class="panel-heading">
    対応情報一覧
  </div>
  <div class="panel-body">
    <div class="form-group">

      <div style="height:500px; overflow-y:auto;">

      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th style="width: 30%">状況</th>
          <th  style="width: 45%">
            対応内容一覧
          </th>
          <th  style="width: 15%">
            編集
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of newtaiouList|orderby:'startAt' ;let idx = index;">
          <td>

            {{idx+1}}<br>
            <span *ngIf="item.taiouUp==true" class="label label-danger">New</span>

          </td>
          <td style="word-wrap:break-word;">{{item.syubetu}}<br>更新日:　{{item.updateAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}</td>
          <td style="word-wrap:break-word;">{{item.name}}　　所属:　{{item.siten}}　{{item.busyo}}<br>
            登録日:　{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}
          <hr>
            【製品名】:　{{item.seihin}}<br>
            【処置日】:　{{item.taioubi| date: 'yyyy/MM/dd':'JST'}}<br>
            {{item.naiyou}}
      </td>
       <td>
            <!--<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="編集" (click)="setEdit(idx)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>-->
            <!--<button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="削除" (click)="Delete(idx)"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
         <!--<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="関連ファイル登録" (click)="addImage(idx)"><i class="fa fa-picture-o" aria-hidden="true"></i></button>-->
         <!--<button type="button" class="btn btn-primary"  data-toggle="tooltip" data-placement="right" title="関連ファイル表示" (click)="View(idx)"><i class="fa fa-list" aria-hidden="true"></i></button>-->
         <div class="btn-group" dropdown>
         <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
           <i class="fa fa-list" aria-hidden="true"></i>　各種設定変更<span class="caret"></span>
         </button>
         <ul style="cursor: pointer" dropdownMenu role="menu" aria-labelledby="single-button">
           <li role="menuitem"><a class="dropdown-item" (click)="setEdit(idx)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>　編集</a></li>
           <li role="menuitem"><a class="dropdown-item" (click)="Delete(idx)"><i class="fa fa-trash" aria-hidden="true"></i>　削除</a></li>
           <li role="menuitem"><a class="dropdown-item" (click)="addImage(idx)"><i class="fa fa-picture-o" aria-hidden="true"></i>　関連ファイル登録</a></li>
           <li role="menuitem"><a class="dropdown-item"  (click)="setFile(idx)"><i class="fa fa-check-square-o" aria-hidden="true"></i>　関連ファイル一覧表示</a></li>


         </ul>
       </div>





       </td>

        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>


</div>
    <!--</div>-->

    <!--<div  class="col-md-3">-->


      <!--<app-view-image *ngIf="OnOff"  [jyoukyouData]="jyoukyouData"  [passwordData]="passwordData"></app-view-image>-->


    <!--</div>-->



  <!--</div>-->
<!--</div>-->







<!--編集ダイアログ-->
<app-taiou-dialog [taiouData]="taiouData"  [taiouSyubetuList]="taiouSyubetuList" #editTaiouDialog></app-taiou-dialog>
<app-taiou-delete-dialog  [taiouData]="taiouData" #deleteTaiouDialog></app-taiou-delete-dialog>
<!--ファイル一覧ダイアログ-->
<app-view-file [fileData]="fileData"  [onoffData]="onoffData" [passwordData]="passwordData" #fileDialog></app-view-file>
<app-no-file-list #noFileListDialog></app-no-file-list>
