<app-header></app-header>
<div class="panel panel-default" style="width: 90%;margin: 0 auto;margin-top: 60px">
  <div class="panel-heading">
    価格一覧
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">

          <h2>料金プラン</h2>
          <hr>

    <table class="table">

      <thead>
      <tr>
        <th class="text-center">プラン名</th>
        <th class="text-center">スタンダード</th>
        <th class="text-center">プレミアム</th>
        <th class="text-center">エキスパート</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th  class="text-center">月間アクセス数</th>
        <td>300</td>
        <td>400</td>
        <td>500</td>
      </tr>
      <tr>
        <th  class="text-center">月間投稿数</th>
        <td>3000</td>
        <td>4000</td>
        <td>5000</td>
      </tr>
      <tr>
        <th  class="text-center">月間ファイル</th>
        <td>30</td>
        <td>40</td>
        <td>50</td>
      </tr>

      </tbody>

    </table>
<hr>
          <div class="text-left">
          <p>※ 表示されている価格はすべて税込み価格です。</p>
          <p> ※ どのプランも初月無料です。なお、プラン申込時には翌月分の課金が行われます。</p>
          <p> ※ お支払いはクレジットカードのみとなります。Visa、MasterCard、American Express、Diner's Club、JCBがご利用いただけます。</p>
          </div>
  </div>

</div>

    </div>

  </div>
</div>





