<app-header></app-header>
<div class="panel panel-default" style="width: 90%;margin: 0 auto;margin-top: 100px">
  <div class="panel-heading">
    価格一覧
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">

          <h2>料金プラン</h2>
          <hr>

    <table class="table">

      <thead>
      <tr>
        <th class="text-center">プラン名</th>
        <th class="text-center">スタンダード【まずはここから】</th>
        <th class="text-center">プレミアム</th>
        <th class="text-center">エキスパート</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th  class="text-center">月間アクセス数</th>
        <td style="font-size: 20px">60MB</td>
        <td style="font-size: 20px">110MB</td>
        <td style="font-size: 20px">160MB</td>
      </tr>
      <tr>
        <th  class="text-center">月間投稿数</th>
        <td style="font-size: 20px">50MB</td>
        <td style="font-size: 20px">90MB</td>
        <td style="font-size: 20px">130MB</td>
      </tr>
      <tr>
        <th  class="text-center">月間ファイルアップ数</th>
        <td style="font-size: 20px">200MB</td>
        <td style="font-size: 20px">400MB</td>
        <td style="font-size: 20px">600MB</td>
      </tr>
      <tr>
        <th  class="text-center" style="font-size: 20px">料金</th>
        <td style="font-size: 20px">15,000円</td>
        <td style="font-size: 20px">25,000円</td>
        <td style="font-size: 20px">35,000円</td>
      </tr>
      </tbody>

    </table>
<hr>
          <div class="text-left">
          <p>※ 表示されている価格はすべて税込み価格です。</p>
          <p> ※ どのプランも初月無料です。なお、プラン申込時には翌月分の課金が行われます。</p>
          <p> ※ お支払いはクレジットカードのみとなります。Visa、MasterCard、American Express、Diner's Club、JCBがご利用いただけます。</p>
          </div>
  </div>

</div>

    </div>

  </div>
</div>





<!-- footer -->
<div class="footer" style="margin-top: 150px">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">

        <h3>LotsJOY【ロッツジョイ】</h3>

        <address>
          〒501-2105 岐阜県山県市高富2778-14
        </address>


      </div><!-- col -->
      <div class="col-sm-5">
        <div class="menu">
          <ul style="margin-top: 20px">
            <li ><a HREF="/riyoukiyaku" TARGET="_blank">利用規約確認</a></li>
            <li ><a HREF="/privacypolicy" TARGET="_blank">プライバシーポリシー</a></li>
            <li ><a routerLink="/askform" >問い合わせ</a></li>
            <li ><a routerLink="/lotsjoys" >運営会社</a></li>
          </ul>
        </div>
      </div>
    </div><!-- row -->

    <div class="row copyarea text-center">
      <div class="col-sm-12">
        <p class="copy">Copyright &copy; LotJOY,all rights reserved.</p>

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>


