<div class="panel panel-default">
  <div class="panel-heading">
    共通データを登録する方法
  </div>
  <div class="panel-body">
    <p>◎まずは支店と部署を登録します。【登録方法は共通です。】<br>
      　必要なければ、とばしてください。</p>

    <p>ログインすると下記のようなトップ画面になります。</p>
    <img src="assets/usage/sitenAdd/top.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/sitenAdd/top2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/sitenAdd/siten1.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/sitenAdd/siten2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/sitenAdd/siten3.png" style="width: 800px" alt="">
    <hr class="style-two">
    <p>必要であれば部署も同じように登録して下さい。登録方法は支店の登録と同じです。</p>
    <hr class="style-two">
    <p>引き続き社員情報を登録していきます。</p>
    <img src="assets/usage/memberAdd/member1.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/memberAdd/member2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <p>事前に登録しておくと作業がスムーズに行うことができます。</p>



  </div>
</div>

