<ul class="nav nav-pills nav-justified">
  <li role="presentation" (click)="aaa()" [ngClass]="aa" ><a  routerLink="/main/topclaim/addtaiou/listtaiou" class="text-success">対応一覧</a></li>
  <li role="presentation" [ngClass]="fileupcheck" (click)="bbb()" [ngClass]="bb"><a  routerLink="/main/topclaim/addtaiou/inputtaiou" class="text-success">対応情報登録</a></li>
  <li role="presentation"  [ngClass]="cc"><a  routerLink="/main/topclaim/addtaiou/addimagetaiou" class="text-success" >関連ファイル登録</a></li>
</ul>

<router-outlet></router-outlet>

