<div class="panel panel-default" style="width: 80%;margin: 0 auto;">
  <div class="panel-heading">
    ログイン
  </div>
  <div class="panel-body">

    <div class="form-group">
      <label for="companyname">会社名</label>
      <input type="text"  class="form-control" id="companyname" placeholder="会社を入力ください">
    </div>

    <div class="form-group">
      <label for="mail">メールアドレス</label>
      <input type="text"  class="form-control" id="mail" placeholder="メールアドレスを入力ください">
    </div>

    <div class="form-group">
      <label for="password">パスワード</label>
      <input type="password"  class="form-control" id="password" placeholder="パスワードを入力ください">
    </div>
    <button type="button" class="btn btn-primary btn-block">登録</button>
 </div>
</div>

