<app-header></app-header>
<div class="panel panel-default" style="width: 90%;margin: 0 auto;margin-top: 30px">
  <div class="panel-heading">
    アプリについて/使い方
  </div>
  <div class="panel-body">


    <div class="container">

      <!-- content -->
      <div class="row" style="padding:60px 0 0 0">
        <!-- left -->
        <div class="col-md-3">
          <app-usage-sidemenu></app-usage-sidemenu>
        </div>

        <!-- center -->
        <div class="col-md-9">
<router-outlet></router-outlet>











        </div>

        <!-- right -->
        <!--<div class="col-md-3" style="background-color:#00f0f0">-->
        <!--right-->
        <!--</div>-->
      </div>

    </div>

  </div>
</div>
