<div class="modal fade" bsModal #lgModal="bs-modal" id="sampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="close()"><span>×</span></button>
        <h4 class="modal-title">恒久対策編集</h4>
      </div>
      <div class="modal-body">
        <div style=" margin: 0 auto;height:500px;overflow:auto">
        <div class="form-group">
          <label for="taisakusyubetu">状況変更</label>
          <select  (change)="setChange($event.target.value)" class="form-control" id="taisakusyubetu" [(ngModel)]="taisakusyubetu" name="taisakusyubetu">
            <option *ngFor="let item of taisakuSyubetuList" [value]="item.taisaku">{{item.taisaku}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="other">その他</label>
          <a id="other" class="text-danger" style="cursor: pointer"(click)="addTaisakuSyubetu()">　選択ボックスに追加【選択ボックス内に該当するものがなければ追加】</a>


        </div>


        <div class="form-group">
          <label for="syubetu">状況</label>
          <input type="text" class="form-control" id="syubetu"  [(ngModel)]="syubetu" name="syubetu" value="{{taisakuData?.syubetu}}" placeholder="対策状況を入力して下さい。">
        </div>

        <div class="form-group">
          <label for="naiyou">対策内容</label>
          <textarea type="text" class="form-control" id="naiyou"  [(ngModel)]="naiyou" name="naiyou" value="{{taisakuData?.naiyou}}" placeholder="対策内容を入力して下さい。"></textarea>
        </div>

        <div class="form-group">
          <label for="name">投稿者</label>
          <input type="text" class="form-control" id="name"  [(ngModel)]="name" name="name" value="{{taisakuData?.name}}" placeholder="投稿者名を入力して下さい。">
        </div>

        <div class="form-group">
          <label for="siten">支店名</label>
          <input type="text" class="form-control" id="siten"  [(ngModel)]="siten" name="siten" value="{{taisakuData?.siten}}" placeholder="支店名を入力して下さい。">
        </div>

        <div class="form-group">
          <label for="busyo">部署名</label>
          <input type="text" class="form-control" id="busyo"  [(ngModel)]="busyo" name="busyo" value="{{taisakuData?.busyo}}" placeholder="部署名を入力して下さい。">
        </div>

        <div class="form-group">
          <label for="password">パスワード</label>
          <input type="password" class="form-control" id="password"  [(ngModel)]="pass" name="pass"  placeholder="パスワードを入力して下さい。">
        </div>

        </div>

      </div>
      <div class="modal-footer">
        <div *ngIf="OnOff">
          <div class="alert alert-danger" role="alert">パスワードが一致しません</div>
        </div>
        <button type="button" class="btn btn-default"   (click)="close()" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary" (click)="onEdit()">編集</button>
      </div>
    </div>
  </div>
</div>

<!--状況追加ダイアログ-->
<app-taisaku-select #selectTaisakuDialog></app-taisaku-select>
