<app-header></app-header>

<div class="panel panel-default" style="width: 80%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    特定商取引法に関して
  </div>
  <div class="panel-body">
    <div class="wrapKOPIPE">

      <div class="wrapHINAGATA">
        <h1> 特定商取引法に基づく表示</h1>
        <p> 販売事業者:　 LotsJOY</p>
        <p> 代表責任者:　 　伊藤慎一</p>
        <p> 所在地:　 〒501-2105</p>
        <p>岐阜県山県市高富2778-14</p>
        <p> 電話番号:　 090-8542-0519</p>
        <p>電話受付時間:　 AM9:00～PM:5:00</p>
        <p>公開メールアドレス:　 shinichi-ito@lotsjoys.com</p>
        <p>ホームページURL:　 https://qccloud.lotsjoys.com/</p>
        <p>販売価格: 　商品毎に販売価格を表示（税込）</p>
        <p>申込方法：　指定のフォーム</p>
        <p> 商品代金以外の必要料金:　 カード決済手数料</p>
        <p>購入者にて負担</p>
        <p>引き渡し時期:　 お申し込み手続き後即時</p>
        <p>商品特性上、返品・キャンセルについてはお受けできません。</p>
        <p>解約につきましてはQCクラウド内にて、ご契約期間中いつでもお手続き可能です。</p>
        <p>解約手続きをいただきましたら、サービスは停止し　日割り計算の上課金いたします。</p>

        <p class="tR">以上</p>

      </div><!--／wrapHINAGATA-->
    </div><!--／wrapKOPIPE-->



  </div>
</div>

