


<!--参考サイトhttps://www.softel.co.jp/blogs/tech/archives/2848-->
<div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    情報一覧
  </div>
  <div class="panel-body">



    <div *ngIf="OnOff">
      <div class="alert alert-danger" role="alert">三か月が経過しました。効果確認を行ってください。<a (click)="checkKouka()" style="cursor: pointer">対象の対策{{addKouka}}件</a></div>
    </div>
<div style="margin: auto;">
  <table   style="table-layout:fixed;width:100%;" class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
           [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
      <th style="width: 7%">
        編集
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="syubetu">情報種別</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="seihin">対象製品</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="gaiyou">情報概要</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="name">投稿者/登録日</mfDefaultSorter>
      </th>
      <th style="width: 15%">
       状況
      </th>
      <th style="width: 10%">
       関連ファイル
      </th>



    </tr>
    <tr>
      <th colspan="1">
      </th>
      <th colspan="3">

        <input class="form-control" [(ngModel)]="filterQuery" placeholder="種別、対象製品、概要から検索"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
      <td style="word-wrap:break-word;">
        <!--<button (click)="sendEditClaim(item)" class="btn btn-primary"><i class="fa fa-server" aria-hidden="true"></i>　情報登録</button>-->
        <button type="button" (click)="viewSyousai(item)" class="btn btn-primary"><i class="fa fa-server" aria-hidden="true"></i>　詳細表示</button>
      </td>
      <td style="word-wrap:break-word;">{{item.syubetu}}</td>
      <td style="word-wrap:break-word;">{{item.seihin}}</td>
      <td  style="word-wrap:break-word;">{{item.gaiyou}}


      </td>
      <td>{{item.name }}&#13;{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST' }}</td>
      <td  style="word-wrap:break-word;">
        <button (click)="sendEditTaiou(item)" class="btn btn-success btn-xs" type="button">応急対応<span class="badge">{{item.taiou}}</span></button>
        <button (click)="sendEditGenin(item)" class="btn btn-primary  btn-xs" type="button">原因分析<span class="badge">{{item.genin}}</span></button>
        <button (click)="sendEditTaisaku(item)" class="btn btn-success btn-xs" type="button">恒久対策<span class="badge">{{item.taisaku}}</span></button>
        <button  class="btn btn-primary  btn-xs" type="button">効果確認<span class="badge">{{item.kouka}}</span></button>
        <button class="btn btn-info  btn-xs" type="button">関連ファイル<span class="badge">{{item.file}}</span></button>
        <button (click)="sendEditComment(item)" class="btn btn-primary  btn-xs" type="button">コメント<span class="badge">{{item.comment}}</span></button>
      </td>


      <td>
        <div class="btn-group" dropdown>
          <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
            <i class="fa fa-list" aria-hidden="true"></i>　各種編集追加<span class="caret"></span>
          </button>
          <ul style="cursor: pointer" dropdownMenu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a class="dropdown-item" (click)="setEdit(item)"><i class="fa fa-picture-o" aria-hidden="true"></i>　編集</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="addImage(item)"><i class="fa fa-picture-o" aria-hidden="true"></i>　関連ファイル登録</a></li>
            <li role="menuitem"><a class="dropdown-item"  (click)="setFile(item)"><i class="fa fa-check-square-o" aria-hidden="true"></i>　関連ファイル一覧表示</a></li>
             <li role="menuitem"><a class="dropdown-item"  (click)="setTimeLine(item)"><i class="fa fa-check-square-o" aria-hidden="true"></i>　タイムライン表示</a></li>






          </ul>
        </div>
     </tr>

    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>

</div>
  </div>
</div>

<!--<button type="button" class="btn btn-primary" (click)="Error()">エラーテスト</button>-->
<!--<button type="button" class="btn btn-primary" (click)="Progress()">プログレステスト</button>-->

<!--エラーダイアログ-->
<!--<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>-->
<!--プログレスダイアログ-->
<!--<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>-->
<!--効果チェックダイアログ-->
<app-check-kouka [koukakakuninTaisaku]="koukakakuninTaisaku"  #checkKoukaDialog></app-check-kouka>
<!--ファイル一覧ダイアログ-->
<app-view-file [fileData]="fileData"  [onoffData]="onoffData" [passwordData]="passwordData" #fileDialog></app-view-file>
<app-no-file-list #noFileListDialog></app-no-file-list>
<!--詳細ダイアログ-->
<app-view-syousai [claimItem]="claimItem"  #syousaiDialog></app-view-syousai>

