<!--参考サイトhttps://www.softel.co.jp/blogs/tech/archives/2848-->
<div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    情報一覧
  </div>
  <div class="panel-body">
    <div *ngIf="OnOff">
      <div class="alert alert-danger" role="alert">三か月が経過しました。効果確認を行ってください。<a (click)="checkKouka()" style="cursor: pointer">対象の対策{{addKouka}}件</a></div>
    </div>
<div style="margin: auto;">
  <table   style="table-layout:fixed;width:100%;" class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
           [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
      <th style="width: 7%">
        編集
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="syubetu">情報種別</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="seihin">対象製品</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="gaiyou">情報概要</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="name">投稿者/登録日</mfDefaultSorter>
      </th>
      <th style="width: 15%">
       状況
      </th>
      <th style="width: 10%">
       関連ファイル
      </th>



    </tr>
    <tr>
      <th colspan="1">
      </th>
      <th colspan="3">

        <input class="form-control" [(ngModel)]="filterQuery" placeholder="種別、対象製品、概要から検索"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
      <td style="word-wrap:break-word;">
        <button (click)="sendEditClaim(item)" class="btn btn-primary"><i class="fa fa-server" aria-hidden="true"></i>　情報登録</button>

      </td>
      <td style="word-wrap:break-word;">{{item.syubetu}}</td>
      <td style="word-wrap:break-word;">{{item.seihin}}</td>
      <td  style="word-wrap:break-word;">{{item.gaiyou}}</td>
      <td>{{item.name }}&#13;{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST' }}</td>
      <td  style="word-wrap:break-word;">
        <button class="btn btn-info btn-xs" type="button">対応数<span class="badge">{{item.taiou}}</span></button>
        <button class="btn btn-primary  btn-xs" type="button">原因分析数<span class="badge">{{item.genin}}</span></button>
        <button class="btn btn-success btn-xs" type="button">対策数<span class="badge">{{item.taisaku}}</span></button>
        <button class="btn btn-primary  btn-xs" type="button">効果確認数<span class="badge">{{item.kouka}}</span></button>
        <button class="btn btn-info  btn-xs" type="button">関連ファイル数<span class="badge">{{item.file}}</span></button>

      </td>


      <td> <button (click)="setFile(item)" class="btn btn-primary"><i class="fa fa-file-code-o" aria-hidden="true"></i>　取得</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>

</div>
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="Error()">エラーテスト</button>
<button type="button" class="btn btn-primary" (click)="Progress()">プログレステスト</button>

<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--プログレスダイアログ-->
<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>
<!--効果チェックダイアログ-->
<app-check-kouka [koukakakuninTaisaku]="koukakakuninTaisaku"  #checkKoukaDialog></app-check-kouka>
<!--ファイル一覧ダイアログ-->
<app-view-file [fileData]="fileData"  #fileDialog></app-view-file>




