<form (ngSubmit)="onAdd()" [formGroup]="myForm">
  <div class="panel panel-default"  style="width: 100%;margin: 0 auto;margin-top: 20px">
    <div class="panel-heading">
      コメント登録
    </div>
    <div class="panel-body">


      <div class="form-group">
        <label for="toukousya">投稿者<span *ngIf="myForm.controls.toukousya.dirty &&
                myForm.controls.toukousya.errors||myForm.controls.toukousya.untouched &&
           myForm.controls.toukousya.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.toukousya.errors.required ">
        *</span>
          </span></label>
        <select (change)="setMember($event.target.value)" class="form-control" id="toukousya" [(ngModel)]="toukousyaData" formControlName="toukousya">
          <option *ngFor="let item of memberList" [value]="item.key">{{item.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="branch">所属</label>
        <input type="text" class="form-control" id="branch" value="{{siten}}　{{busyo}}" [(ngModel)]="branch" formControlName="branch">
      </div>

      <div class="form-group">
        <label for="taiou">コメント内容<span *ngIf="myForm.controls.naiyou.dirty &&
                myForm.controls.naiyou.errors||myForm.controls.naiyou.untouched &&
           myForm.controls.naiyou.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.naiyou.errors.required ">
        *</span>
          </span></label>
        <textarea type="text" class="form-control" rows="3"  [(ngModel)]="naiyou" formControlName="naiyou" id="taiou" placeholder="コメント内容を入力ください。"></textarea>
      </div>

      <div class="form-group">
        <label for="InputPassword">パスワード<span *ngIf="myForm.controls.password.dirty &&
                myForm.controls.password.errors||myForm.controls.password.untouched &&
           myForm.controls.password.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.password.errors.required ">
        *</span>
          </span></label>
        <input type="password" class="form-control"  [(ngModel)]="password" formControlName="password" id="InputPassword" placeholder="編集用パスワード。">
      </div>


      <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-3">公開しますか?</label>-->
        <!--<label class="radio-inline">-->
          <!--<input type="radio" [(ngModel)]="model.label"  formControlName="label" value="kari">仮登録-->
        <!--</label>-->
        <!--<label class="radio-inline">-->
          <!--<input type="radio" [(ngModel)]="model.label"  formControlName="label" value="koukai">公開-->
        <!--</label>-->

      <!--</div>-->
      <!---->

      <button *ngIf="OnOff" [disabled]="!myForm.valid" class="btn btn-primary btn-block">登録</button>
      <div *ngIf="!OnOff" class="alert alert-success" role="alert">登録が成功しました。上記のコメント一覧をクリックし確認ください。</div>




    </div>
  </div>
</form>


<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--プログレスダイアログ-->
<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>

