
<ul class="nav nav-pills nav-justified">
  <li role="presentation" (click)="aaa()" [ngClass]="aa" ><a  routerLink="/main/topclaim/addgenin/listgenin" class="text-success">原因分析一覧</a></li>
  <li role="presentation" (click)="bbb()" [ngClass]="bb"><a  routerLink="/main/topclaim/addgenin/inputgenin" class="text-success">原因分析登録</a></li>
  <!--<li role="presentation" (click)="ccc()" [ngClass]="cc"><a  routerLink="/main/topclaim/addtaiou/addimagetaiou" class="text-success" >画像情報登録</a></li>-->
</ul>


<router-outlet></router-outlet>
