
<div class="panel panel-default">
  <div class="panel-heading">
    使い方説明
  </div>
  <!-- 敢えてbodyを作らないことで、メニューを詰める -->
  <!-- <div class="panel-body"> -->
  <ul class="nav nav-pills nav-stacked">
    <li><a [routerLink]="['/usage/softinfo']" style="cursor:pointer;">アプリについて</a></li>
    <li><a [routerLink]="['/usage/usagelogin']" ><i class="glyphicon glyphicon-pencil"></i> ログインから</a></li>
    <li><a [routerLink]="['/usage/addmember']" ><i class="glyphicon glyphicon-pencil"></i> まず初めに</a></li>
    <li><a [routerLink]="['/main/addbranchoffice']"><i class="glyphicon glyphicon-download"></i> クレーム情報登録</a></li>
    <li><a  [routerLink]="['/main/adddepartment']"><i class="glyphicon glyphicon-download"></i> 対応情報登録</a></li>
    <li><a [routerLink]="['/main/addemployee']"><i class="glyphicon glyphicon-download"></i> 対策一覧表示</a></li>
    <li><a [routerLink]="['/main/companyInfo/editcompanyinfo']"><i class="glyphicon glyphicon-folder-open"></i> 検索方法</a></li>
  </ul>
  <!-- </div> -->
</div>
