
<div class="panel panel-default">
  <div class="panel-heading">
    使い方説明
  </div>
  <!-- 敢えてbodyを作らないことで、メニューを詰める -->
  <!-- <div class="panel-body"> -->
  <ul class="nav nav-pills nav-stacked">
    <li><a [routerLink]="['/usage/softinfo']" style="cursor:pointer;"><i class="fa fa-podcast" aria-hidden="true"></i>　アプリについて</a></li>
    <!--<li><a [routerLink]="['/usage/usagelogin']" style="cursor:pointer;" ><i class="fa fa-sign-in" aria-hidden="true"></i>　ログインから</a></li>-->
    <li><a [routerLink]="['/usage/addmember']" style="cursor:pointer;" ><i class="fa fa-first-order" aria-hidden="true"></i>　まず初めに</a></li>
    <li><a [routerLink]="['/usage/usageclaimadd']" style="cursor:pointer;"><i class="fa fa-plus-square-o" aria-hidden="true"></i>　情報登録(クレーム情報等)</a></li>
    <li><a  [routerLink]="['/usage/usagetaiouadd']" style="cursor:pointer;"><i class="fa fa-plus-square-o" aria-hidden="true"></i>　各種情報登録(対応,原因,対策)</a></li>
    <li><a [routerLink]="['/usage/usagekoukaadd']" style="cursor:pointer;"><i class="fa fa-plus-square-o" aria-hidden="true"></i>　効果確認登録</a></li>
    <li><a [routerLink]="['/usage/usagesearch']" style="cursor:pointer;"><i class="fa fa-search" aria-hidden="true"></i>　各種検索方法</a></li>
  </ul>
  <!-- </div> -->
</div>
