<app-nav-main></app-nav-main>

<app-nav-sabu></app-nav-sabu>

<div class="panel panel-default" style="width: 90%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    タイムライン
  </div>
  <div class="panel-body">
<div class="container">
  <div class="page-header" style=" border:1px solid #000; box-shadow: 7px 7px 7px rgba(0,0,0,0.4);">

      <p style="margin-left: 90px;margin-top: 20px" ><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{claimitem?.hasseibi | date:'yyyy/MM/dd'}}</small></p>
    <p style="margin-left: 90px" >
      {{claimitem?.name}}　{{claimitem?.siten}}　{{claimitem?.busyo}}
    </p>
    <h2 style="margin-left: 90px" id="timeline">
      {{claimitem?.syubetu}}
    </h2>
    <h3 style="margin-left: 90px" >
      {{claimitem?.gaiyou}}
    </h3>





  </div>
  <ul class="timeline">
    <li [ngClass]=item?.check *ngFor="let item of timeLineData">
      <div class={{item?.color}}><i class={{item?.icon}} aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{item?.doko}}</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{item?.sort | date:'yyyy/MM/dd'}}</small></p>
        </div>
        <div class="timeline-body">
{{item?.naiyou}}
          <p>{{item?.name}}  {{item?.siten}} {{item?.busyo}}</p>

        </div>
      </div>
    </li>
  </ul>

</div>
  </div>
</div>
