<form>
  <div class="panel panel-default" style="width: 80%;margin: 0 auto;">
    <div class="panel-heading">
      社員情報登録
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label for="address">登録者</label>
        <input type="text" class="form-control" id="address" placeholder="登録者を入力して下さい。">
      </div>


      <div class="form-group">
        <label for="companyname">社員名</label>
        <input type="text" class="form-control" id="companyname" placeholder="社員名を入力して下さい。">
      </div>

      <div class="form-group">
        <label for="siten">所属支店</label>
        <select class="form-control" id="siten">
          <option>選択肢１</option>
          <option>選択肢２</option>
          <option>選択肢３</option>
        </select>
      </div>

      <div class="form-group">
        <label for="busyo">所属部署</label>
        <select class="form-control" id="busyo">
          <option>選択肢１</option>
          <option>選択肢２</option>
          <option>選択肢３</option>
        </select>
      </div>




      <button type="button" class="btn btn-primary btn-block">登録</button>
    </div>
  </div>

</form>
