<app-header></app-header>
<button (click)="test()">uhihihui</button>

<!--　▼ ジャンボトロン　 -->
<div style="margin: 0">
<div class="jumbotron">
  <div class="container">
    <h2>品質管理とは</h2>
    <p>品質管理とは、顧客の要求を満たす品質の製品あるいはサービスを経済的に作り出すための管理技法です。</p>
    <p>そして品質管理の最も大きな目的は、製品やサービスの品質を一定以上の水準に確保して顧客に提供することです。</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
  </div>
</div>
</div>
<!--　▲ ジャンボトロン　 -->
<div style="margin: 0">
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        タイトル
      </a>
    </div>

    <div  class="collapse navbar-collapse" id="navbarEexample7">
      <ul class="nav navbar-nav">
        <li><a href="#">メニューＡ</a></li>
        <li class="active"><a href="#">メニューＢ</a></li>
        <li><a href="#">メニューＣ</a></li>
      </ul>
      <p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
    </div>
  </div>
</nav>
</div>
<div class="container">
  <div class="page-header">
    <H1>皆さんの会社では　品質管理上手くできてますか?</H1>
  </div>
  <div class="container">

    <!-- content -->
    <div class="row" style="padding:60px 0 0 0">
      <!-- left -->
      <div class="col-md-4">

        <h2>こんな状態になってませんか?</h2>
        <p>私の働いていた会社では何かクレームが発生し　クレーム報告書を作成したら、ファイルに閉じて保管してました。</p>
        <P>時間の経過とともに　ファイルがたまり　過去の情報を引っ張り出すのに時間がかかるといった具合でした。</P>
        <p>当然クレームが発生すると　対策を講じます。　しかし　その場では良いのですが　クレーム数は時間とともに増え　当然対策も増えていきます。</p>
        <p>人間は　忘れる生き物です。　今自分の会社で　どんな対策が行われているか　確認するのが大変でした。</p>
        <p>当事者は　まだ覚えているほうです。しかし　当事者ではないと　すぐにわすれてしまうものです。同じ会社で働いているのですから　部署が違っても今　この会社で何が行われているかわかっていてほしいですよね</p>
        <p>例えば　支店が複数あった場合　情報の共有はしっかりできてますか？　クレームが発生したらやはり隠したくなりますよね　でも折角失敗したのです</p>
        <p>損失も発生したでしょう。　その失敗を次に生かさないといけません</p>

      </div>
      <div class="col-md-4">
        <h2>クラウドファーストとは</h2>

        <p>クラウドファーストという言葉が　ビジネスの世界で言われるようになり久しいです
          クラウドファーストとは　企業が情報システムの設計や移行に際してクラウドサービスの採用を第一に検討する方針のこと</p>


      </div>

      <div class="col-md-4">
        <h2>そこでQCクラウド!!</h2>

        <h3>QCクラウドって何?</h3>
        <p>品質管理を担当していた人間が,現場で経験してこんなものがあったら良いなっと思い　作りました。</p>

        <h3>現場で感じていたことって?　</h3>
        <p>クレームに関連した情報や　製品に関しの情報　顧客の要望　社内において不具合に関しての情報を社内でどう整理して　　
          どのように社員間で共有すればよいか　書類に閉じて保管しても　かさばるし　後で必要な情報を探し出すのに時間がかかる　</p>
        <p>いま会社内でどんな対策が取られているか　一覧があったら　新人が入ってきても　説明しやすいのに</p>
        <p> 客先の要望　クレーム情報　社内の不具合情報は　財産です。もっとこの財産を価値あるものにしたい</p>
        <p>財産である客先の要望　クレーム情報　社内の不具合情報を　記録する人によって内容がバラバラで統一できたらいいな</p>


      </div>
    </div>
  </div>


  <div class="container">

    <!-- content -->
    <div class="row" style="padding:60px 0 0 0">
      <!-- left -->
      <div class="col-md-4">
        <h2>QCクラウドのメリットは?</h2>
        <p>情報は　すぐに検索出来て　引っぱり出せること　そうしないと価値がない。関連した情報をも素早く引っ張りだせて　価値が生まれます</p>
        <p>過去にどんな対策があったのか　どんな対応がとられてきたのか一覧で表示できます。</p>
        <p>QCクラウドは情報においてのフレームワークでもあります。このフレームワークを使用すれば　ある一定のクレーム情報や客先の要望　社内不具合情報の内容に関しての
          の品質が保たれます
          【フレームワークとは 骨組み、構造の意味】
        </p>
        <p>このフレームワークの登録の流れは　例えば　クレーム発生や　客先からの要望　社内での不具合の報告があった場合　その情報に対して　➀どう対応したか　
          クレームや不具合では②原因の分析③今後どう対策していくか　その後その対策に対して④効果があったか確認を行うといった流れで登録していくようにしました</p>
        <p>一つのクレーム情報や客先要望等であっても　対応しなくてはならない部署は　複数にわたることもあるので、それに対応してます。
          例えば　発生原因は製造工程であり　流失原因は出荷時の工程</p>
        <p>データを　グラフ化し見える化し　改善点や　弱い部署を見つけやすくする</p>

        <p>画像や関連ファイルを共に保存できます。画像に関しては拡大表示できます。</p>



      </div>
      <div class="col-md-4">


      </div>
      <div class="col-md-4">


      </div>
    </div>
  </div>
</div><!-- /.container -->

<div style="height:500px;background-color: #CCCCCC">
  <div class="container">
  <ul style="margin-top: 20px">
    <li ><a HREF="/riyoukiyaku" TARGET="_blank">利用規約確認</a></li>
    <li ><a HREF="/privacypolicy" TARGET="_blank">プライバシーポリシー</a></li>
    <li ><a routerLink="/askform" >問い合わせ</a></li>
    <li ><a routerLink="/lotsjoys" >運営会社</a></li>
  </ul>
  </div>



</div>




