<div class="modal fade" bsModal #lgModal="bs-modal" id="sampleModal" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="lgModal.hide()"><span>×</span></button>
        <h4 class="modal-title">確認</h4>
      </div>
      <div class="modal-body">

       退会してもよろしいですか?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"   (click)="lgModal.hide()" data-dismiss="modal">閉じる</button>
          <button type="button" class="btn btn-primary" (click)="taikai()">退会</button>
        </div>
      </div>
    </div>
  </div>



