<div class="nav-container" [class.fixed]="navIsFixed">
  <app-header></app-header>


<!-- main1 app -->
<div class="main1-app">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">


        <h3 style="color: red;">只今テストとして運用してます。いろいろ試していただいて結構です。,,<br>
          本番環境になった際は登録したデータは一度リセットしますので、ご注意ください</h3>
        <h1>品質管理とは</h1>
        <p>顧客の要求を満たす、品質の製品あるいはサービスを、<br>
          経済的に作り出すための管理技法です。</p>
        <p>そして品質管理の最も大きな目的は、<br>
          製品やサービスの品質を、一定以上の水準に確保して顧客に提供することです。</p>
        <p>品質管理は、英語では「Quality Control」と表記され、この頭文字をとって、QCと略して呼ばれています。</p>


        <!--<p>いつでもどこからでも情報共有<br>-->
          <!--使い方も簡単、すぐ出来る。<br>-->
          <!--要望をもとに業務効率化の為に創り出されたグループウェアです。</p>-->
        <p><a style="cursor: pointer;margin-bottom: 50px" (click)="login()" class="button btn btn-success btn-lg">無料で試す</a></p>

      </div><!-- col -->
      <div class="col-sm-4">

        <!--<img src="assets/img/pc3.png" alt="" class="img-responsive center-block">-->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>












<!-- main2-app -->
<div class="main2-app text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h2>御社では　品質管理上手く機能してますか?</h2>
        <h4>言い換えれば、品質管理が機能するように情報を上手く利用できていますか？</h4>


       <hr class="style-two">



        <div class="row">

          <div class="col-sm-4">
            <div class="main2-sub">
              <img src="assets/img/seiri.jpg" style="height: 100px" alt="" class="img-circle center-block">
              <h3>情報の整理</h3>

            <div class="text-left">
              <p>◎クレーム報告書等のファイルが 時間の経過とともに増えていき、　過去の情報を引っ張り出すのに時間がかかってませんか？</p>
              <p>◎過去に発生した事案、例えば、顧客に迷惑をかけた、損失を計上してしまった、それを記録した大切な情報が、見つからないってことはありませんか？</p>
              <P>◎情報を記録する際　記録する人によって、内容にバラツキがあって統一感がないなって感じませんか？　内容の整理できてますか？</P>
            </div>
            </div>
          </div><!-- col -->

          <div class="col-sm-4">
            <div class="main2-sub">
              <img src="assets/img/kyouyu.png" style="height: 100px" alt="" class="img-circle center-block">
              <h3>情報の共有</h3>
              <div class="text-left">
              <p>◎情報の共有はしっかりできてますか？　同じ会社で働いているのに　今、社内で発生しているクレームや、それに対してどんな対策が取られているか、
                わからない人がいたりしませんか？</p>
              <p>◎クレーム発生時の当事者は　まだ覚えているほうです。しかし　当事者ではないと　すぐに忘れてしまうものですよね。
            さらに言えば当事者であっても、時間の経過とともに忘れてしまうものです。人間は　忘れる生き物とも言われますからね。未来の自分との情報共有もできてますか?
                </p>
              </div>
            </div>
          </div><!-- col -->

          <div class="col-sm-4">
            <div class="main2-sub">
              <img src="assets/img/kati.jpg" alt="" style="height: 100px" class="img-circle center-block">
              <h3>情報の価値</h3>
              <div class="text-left">
              <p>◎クレームが発生したら　対応に当たる時間やそれに興じる費用が発生してしまいますよね。その情報を次にもっと生かし切れてますか？

              </p>
              <p>◎クレーム情報や客先からの要望、社内での不具合情報など大切な情報なのに　その場限りであったり
                　色々なところで保管されいたりして　その情報を上手く再利用できていますか？</p>
                <p>◎誰もが見られて、素早く検索できて、初めてその情報に価値が生まれます。<br>
                御社の大切な情報にもっと価値を上げたいと思いませんか?</p>
              </div>
            </div>
          </div><!-- col -->

        </div><!-- row -->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>
  <hr class="style-two">

<!-- main3-app -->
<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">

        <img src="assets/img/cloud2.png" alt="" class="img-responsive center-block">

      </div><!-- col -->
      <div class="col-sm-7">

        <h2>クラウドファーストとは</h2>
        <p>クラウドファーストという言葉が　ビジネスの世界で言われるようになり久しいです。
          クラウドファーストとは　企業が情報システムの設計や移行に際してクラウドサービスの採用を第一に検討する方針のことです。</p>
        <p>つまり　ある場所(クラウド)に情報を集めておいて　そこにアクセスすれば最新の情報が誰でも見られるようになっていて、
          まず初めに(ファースト)、その仕組みを利用して何か出来ないかと考えることです。</p>
        <p>クラウドを利用すると、情報の整理や　情報の共有がしやすく　それが上手くできれば　情報の価値も上がるのです。</p>

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>

  <hr class="style-two">
<!-- main4-app -->
<div class="main4-app">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">

        <h2>そこでQCクラウド!!</h2>
        <h3>QCクラウドって何?</h3>
        <h3>◎品質管理を担当していた人間が、現場を経験した際、こんなものがあったら良いなっと思い作った仕組みです。</h3>
         <p>〇クラウドの仕組みを利用することにより誰もが閲覧可能です。</p>
        <p>〇対応や対策は場合によって複数部署で行われることも考えられます。<br>
          もちろん複数部署で登録できるように設計してあります。</p>
        <p>〇対象の情報に対して、直接関連しない部署や経営陣から　その情報に関して、何かコメントしたいケースやアドバイスを送りたいケースもあるかと思います。<br>
          そのようなケースに対応できるように、コメントやアドバイスを登録できるようにしてます。</p>



      </div><!-- col -->
      <div class="col-sm-5">

        <img src="assets/img/cloud.jpg" alt="" class="img-responsive center-block">

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>


  <!-- main3-app -->
  <div class="main5-app">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">

          <img src="assets/img/sagyou.png" alt="" class="img-responsive center-block">

        </div><!-- col -->
        <div class="col-sm-7">

          <h3>現場で感じていたことって?　</h3>
          <p>◎クレームに関連した情報や、　製品に関しの情報、　顧客の要望、　社内において不具合に関しての情報を社内でどう整理しようか？　
            どのように社員間で共有すればよいか？　書類に閉じて保管しても、数が増えれば、保管場所も確保しないといけないし、
            後で必要な情報を探し出すのに時間がかかるのを何とかしたいな。　</p>
          <p>◎いま会社内でどんな対策が取られているか　一覧があったら、　人の入れ替わりや新人が加わっても　説明しやすいのにな。</p>
          <p>◎客先の要望　クレーム情報　社内の不具合情報は　財産です。もっとこの財産を価値あるものにしたいな。</p>
          <p>◎財産である客先の要望　クレーム情報　社内の不具合情報を　記録する人によって内容がバラバラで統一できたらいいな</p>

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div>


  <div class="main4-app">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">

          <h2>QCクラウドはどんな風に登録していくの?</h2>
　　　　<p>①事案が発生<br>
          例えば、お客様より連絡があり　内容が製品の不良品に関しての連絡であったとします。</p>

          <p>②応急対応<br>
            関連部署は至急社内にある在庫を確認し不良品が混じってないか確認するでしょう。<br>
          更に返品があれば選別をして顧客に代替えの製品を送り返さないといけないかもしれません。</p>
          <p>③原因分析<br>
          なぜ発生したのか　もしくは　なぜお客様に送ってしまったのか　再発を防止するには原因がわからないと
            対策できませんよね。
          </p>
          <p>④恒久対策<br>
          今後再発しないように　各部署において恒久対策を練りますよね。

          </p>
          <p>⑤効果確認<br>
          実際に恒久対策を行って　その後成果はあったか、実際に行われているか
            確認したほうがいいですよね。

          </p>
<p>①から⑤までを順次登録していくように設計してあります。</p>

        </div><!-- col -->
        <div class="col-sm-5">

          <img src="assets/img/QC.jpeg" alt="" class="img-responsive center-block">

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div>


  <hr class="style-two">


  <!-- main2-app -->
  <div class="main2-app text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <h2>QCクラウドを利用するメリットは?</h2>
          <p>日本の製品の品質は、　世界から高く評価されています。QCクラウドが、御社のさらなる品質向上の一助となります。</p>


          <h3><a routerLink="/usage/softinfo" >QCcloudの使い方</a></h3>
          <div class="row">

            <div class="col-sm-4">
              <div class="main2-sub">
                <img src="assets/img/search.png" style="height: 100px" alt="" class="img-circle center-block">
                <h3>あらゆる検索</h3>

                <div class="text-left">
                  <p>◎情報は,すぐに検索出来て　引っぱり出せることです。関連した情報をも素早く引っ張りだせて初めて　価値が生まれます</p>
                  <p>◎ある画像に対して過去に登録した画像の中から似た画像を検索できます。</p>
                </div>
              </div>
            </div><!-- col -->

            <div class="col-sm-4">
              <div class="main2-sub">
                <img src="assets/img/check.png" style="height: 100px" alt="" class="img-circle center-block">
                <h3>素早く確認</h3>
                <div class="text-left">
                  <p>◎過去にどんな対策があったのか　どんな対応がとられてきたのか一覧で表示できます。いま社内でどんなことが行われているか一目でわかります。</p>
                  <p>◎関連した画像やファイルが確認できます。画像やPDFファイルは表示し確認できます。</p>
                </div>
              </div>
            </div><!-- col -->

            <div class="col-sm-4">
              <div class="main2-sub">
                <img src="assets/img/touitu.jpeg" style="height: 100px" alt="" class="img-circle center-block">
                <h3>情報の統一化</h3>
                <div class="text-left">
                  <p>◎QCクラウドは情報においてのフレームワークでもあります。 【フレームワークとは 骨組み、構造の意味】<br>
                    このフレームワークを使用すれば　ある一定のクレーム情報や客先の要望　社内不具合情報の内容に関しての
                    情報の統一化できます。
                  </p>
                </div>
              </div>
            </div><!-- col -->

          </div><!-- row -->
          <hr class="style-two">
          <div class="row">

            <div class="col-sm-4">
              <div class="main2-sub">
                <img src="assets/img/kati.jpg" style="height: 100px" alt="" class="img-circle center-block">
                <h3>情報の品質向上</h3>

                <div class="text-left">
                  <p>◎このフレームワークの登録の流れは、クレーム発生や　客先からの要望　社内での不具合の報告があった場合　その情報に対して<br>
                    ➀どう対応したか　<br>
                    ②原因の分析(クレーム情報等)<br>
                    ③今後どう対策していくか<br>
                    ④効果があったか確認を行う<br>
                    といった流れで登録していくようにしました。</p>
                </div>
              </div>
            </div><!-- col -->

            <div class="col-sm-4">
              <div class="main2-sub">
                <img src="assets/img/jyunan.jpeg" style="height: 100px" alt="" class="img-circle center-block">
                <h3>情報に柔軟に対応</h3>
                <div class="text-left">
                  <p>◎一つのクレーム情報や客先要望等であっても　対応しなくてはならない部署は　複数にわたることもあるので、複数登録できるようにしました。
                    例えば　発生原因は製造工程であり　流失原因は出荷時の工程である場合　対応や対策する部署が二か所のため部署によって
                    どんな対応や対策をとったか登録できるようにしました。</p>
                 </div>
              </div>
            </div><!-- col -->

            <div class="col-sm-4">
              <div class="main2-sub">
                <img src="assets/img/pdf.png" style="height: 100px" alt="" class="img-circle center-block">
                <h3>関連ファイルの登録</h3>
                <div class="text-left">
                  <p>◎画像や関連ファイルを共に保存できます。画像、PDFファイルに関しては拡大表示できます。</p>
                  <p>◎登録した関連ファイルを検索できるようにしてます。</p>
                  <p>◎関連画像を登録する際、備考を設け、後でファイルを検索精度が上がるようにしてます。</p>
                  <p>◎関連する画像から似た画像を検索できます。(人工知能を利用して)</p>

                </div>
              </div>
            </div><!-- col -->

          </div><!-- row -->
    </div><!-- col -->
      </div><!-- row -->




    </div><!-- container -->
  </div>









<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">

        <h3>LotsJOY【ロッツジョイ】</h3>

        <address>
          〒501-2105 岐阜県山県市高富2778-14
        </address>


      </div><!-- col -->
      <div class="col-sm-5">
        <div class="menu">
        <ul style="margin-top: 20px">
          <li ><a HREF="/riyoukiyaku" TARGET="_blank">利用規約確認</a></li>
          <li ><a HREF="/privacypolicy" TARGET="_blank">プライバシーポリシー</a></li>
          <li ><a routerLink="/askform" >問い合わせ</a></li>
          <li ><a routerLink="/lotsjoys" >運営会社</a></li>
        </ul>
        </div>
      </div>
    </div><!-- row -->

    <div class="row copyarea text-center">
      <div class="col-sm-12">
        <p class="copy">Copyright &copy; LotJOY,all rights reserved.</p>

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>

</div>

<p *ngIf="OnOff" id="page-top"><a style="cursor: pointer" (click)="top()">PAGE TOP</a></p>
