
<div class="panel panel-default" style="width: 80%;margin: 0 auto;">
  <div class="panel-heading">
    投稿前情報編集
  </div>
  <div class="panel-body">

<div class="form-group">
  <label for="employee">投稿者</label>
  <select class="form-control" id="employee">
    <option>選択肢１</option>
    <option>選択肢２</option>
    <option>選択肢３</option>
  </select>
</div>

<div class="form-group">
  <label for="branch">所属</label>
  <input type="text" class="form-control" id="branch">
</div>

<div class="form-group">
  <label for="InputPassword">パスワード</label>
  <input type="password" class="form-control" id="InputPassword" placeholder="編集用パスワード。">
</div>

<button type="button" class="btn btn-primary btn-block">投稿前情報取得</button>
  </div>
</div>
