<div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    部署登録一覧
  </div>
  <div class="panel-body">
    <div class="form-group">
      <table class="table table-striped">
        <thead>

        <tr>
          <th></th>
          <th >
            部署
          </th>
          <th >
            登録者
          </th>
          <th >
            登録日時
          </th>
          <th >
            編集
          </th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let item of busyoList|orderby:'startAt'; let idx = index;">
          <td>{{idx+1}}</td>
          <td>{{item.busyo}}</td>
          <td>{{item.tourokusya}}</td>
          <td>{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}</td>
          <td>
            <!--<button type="button" class="btn btn-primary" (click)="setEdit(idx)">編集</button>-->
            <!--<button type="button" class="btn btn-danger" (click)="Delete(idx)">削除</button>-->

            <div class="btn-group" dropdown>
              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                <i class="fa fa-list" aria-hidden="true"></i>　各種編集追加<span class="caret"></span>
              </button>
              <ul style="cursor: pointer" dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a class="dropdown-item" (click)="setEdit(idx)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>　編集</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="Delete(idx)"><i class="fa fa-trash" aria-hidden="true"></i>　削除</a></li>
                 </ul>
            </div>







          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--</form>-->
<!--以下にダイアログ-->

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-body">


        <div class="form-group">
          <label for="busyoname">部署名</label>
          <input type="text" class="form-control" id="busyoname"  [(ngModel)]="busyoname" name="busyo" value="{{busyoData?.busyo}}" placeholder="部署名を入力して下さい。">
        </div>
        <div class="form-group">
          <label for="tourokusyaname">登録者</label>
          <input type="text" class="form-control" id="tourokusyaname"  [(ngModel)]="tourokusyaname" name="tourokusya" value="{{busyoData?.tourokusya}}" placeholder="登録者名を入力して下さい。">
        </div>
        <button  type="button"  class="btn btn-primary btn-block" (click)="onEdit()">部署編集</button>
        <button  type="button"  class="btn btn-default btn-block" (click)="lgModal.hide()">キャンセル</button>

      </div>
    </div>
  </div>
</div>
