
<app-header-claim></app-header-claim>
<div class="panel panel-default" style="width: 80%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    選択
  </div>
  <div class="panel-body">
<ul class="nav nav-tabs">
  <li role="presentation"><a routerLink="/main/topclaim/topclaimedit">情報詳細</a></li>
  <li role="presentation"><a routerLink="/main/topclaim/addtaiou/listtaiou">対応情報</a></li>
  <li role="presentation"><a routerLink="/main/topclaim/addgenin/listgenin">原因情報</a></li>
  <li role="presentation"><a routerLink="/main/topclaim/addtaisaku/listtaisaku">対策情報</a></li>
  <li role="presentation"><a routerLink="/main/topclaim/addkouka/listkouka">効果確認情報</a></li>
  <li role="presentation"><a routerLink="/main/topclaim/addcomment/listcomment">コメント登録</a></li>
</ul>
    <router-outlet></router-outlet>
  </div>
</div>
