<div class="modal fade" bsModal #lgModal="bs-modal" id="sampleModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="lgModal.hide()"><span>×</span></button>
        <h4 class="modal-title">対象のファイル一覧</h4>
        <select (change)="setChange($event.target.value)" class="form-control" id="syubetu" name="syubetu"  [(ngModel)]='syubetu'>
          <option *ngFor="let item of syubetus" [value]="item.label">
            {{ item.label }}</option>
        </select>


      </div>
      <div class="modal-body">



        <div style=" margin: 0 auto;height:500px;width:870px;overflow:auto">


          <ul class="list-inline" >

            <li  *ngFor="let item of fileData let idx = index;">
              <div style="width: 200px" class="thumbnail">
                <img style="height: 150px" src="{{item?.downloadURL2}}">
                <div class="caption">
                  <p>備考</p>
                  <div style=" margin: 0 auto;height:150px;width:130px;overflow:auto">
                  <p>{{item?.comment}}</p>
                  </div>
                  <p>{{item?.toukousya}}</p>
                  <p>{{item?.siten}}　{{item?.busyo}}</p>
                  <p><a href="{{item.downloadURL}}" class="btn btn-default" role="button" target="_blank">拡大</a>
                    <a  (click)="getFilterFile(item)" class="btn btn-default" role="button" target="_blank">似た画像検索</a>
                    <a *ngIf="onoffData" (click)="setEditPassword(idx)" class="btn btn-default" role="button" target="_blank">編集</a>
                    <a *ngIf="onoffData" (click)="setPassword(idx)" class="btn btn-default" role="button" target="_blank">削除</a>


                  </p>
                </div>
              </div>

            </li>
          </ul>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"   (click)="lgModal.hide()" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<app-image-delete-dialog  [password]="password"  #imageDeleteDialog></app-image-delete-dialog>
<app-image-dialog  [password2]="password2"  #imageEditDialog></app-image-dialog>

<app-same-image [fileSameList]="fileSameList"  #imageSameDialog></app-same-image>
