<div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    情報概要
  </div>
  <div class="panel-body">

    <!--<div class="form-group">-->
      <!--<label for="syubetu">情報種別</label>-->
      <!--<input type="text" class="form-control" id="syubetu" value="{{syubetu}}">-->
    <!--</div>-->

      <div class="form-group">
      <label for="seihin">情報概要</label>
        <textarea type="text" class="form-control" id="seihin" value="製品名:　{{seihin}}　情報種別:　{{syubetu}}&#13;概要:　{{gaiyou}}"></textarea>
      </div>
  </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label for="gaiyou">情報概要</label>-->
      <!--<input type="text" class="form-control" id="gaiyou" value="{{gaiyou}}">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->





