<div class="panel panel-default">
  <div class="panel-heading">
    効果確認を登録する方法
  </div>
  <div class="panel-body">
    <p>効果確認とは、恒久対策を行ったら必ずそれに対しての効果があったかどうか、自己評価を行う仕組みです。</p>
    <p>効果があったかどうかは、ある一定の期間が過ぎたら、　効果確認を登録するようにしてます。</p>
    <p>(一定の期間とは三か月としてあります。)</p>
    <p>以下　恒久対策を実施してから三か月たったして説明を行ってます。</p>
    <br>
    <p>一覧画面より</p>
    <img src="assets/usage/koukaAdd/1.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/koukaAdd/2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/koukaAdd/3.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/koukaAdd/4.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/koukaAdd/5.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/koukaAdd/6.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/koukaAdd/7.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/koukaAdd/8.png" style="width: 800px" alt="">
    <hr class="style-two">

    <p>◎三か月を待たずに効果確認を行う場合は<br>下記のように行ってください</p><br>



    <img src="assets/usage/koukaAdd/9.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/koukaAdd/10.png" style="width: 800px" alt="">
    <hr class="style-two">



  </div>
</div>


