<div class="panel panel-default" style="width: 60%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    原因分析情報一覧
  </div>
  <div class="panel-body">
    <div class="form-group">
      <table class="table table-striped" [mfData]="data | geninFilter : filterQuery" #mf="mfDataTable"
             [mfRowsOnPage]="rowsOnPage">
        <thead>
        <tr>
          <th style="width: 15%"></th>
          <th style="width: 45%"  >
            原因分析内容一覧
          </th>
          <th  style="width: 15%">
            操作
          </th>
        </tr>
        <tr>
          <th colspan="1">
          </th>
          <th colspan="1">

            <input class="form-control" [(ngModel)]="filterQuery" placeholder="原因分析情報から検索"/>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data|orderby:'startAt'; let idx = index;">
          <td>

            {{idx+1}}<br>
            <span *ngIf="item.geninUp==true" class="label label-danger">New</span>
          </td>
          <td style="word-wrap:break-word;">{{item.name}}　　所属:　{{item.siten}}　{{item.busyo}}<br>
            登録日:　{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}
            <hr>
            【製品名】:　{{item.seihin}}<br>
            【処置日】:　{{item.kakuninbi| date: 'yyyy/MM/dd':'JST'}}<br>
            {{item.naiyou}}
          </td>
          <td>
            <div class="btn-group" dropdown>
              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                <i class="fa fa-list" aria-hidden="true"></i>　各種操作<span class="caret"></span>
              </button>
              <ul style="cursor: pointer" dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a class="dropdown-item" (click)="setMoto(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>　元情報</a></li>
                 <li role="menuitem"><a class="dropdown-item"  (click)="getFile(item)"><i class="fa fa-file-o" aria-hidden="true"></i>　関連ファイル一覧表示</a></li>

              </ul>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!--詳細ダイアログ-->
<app-view-syousai [claimItem]="claimItem"  #syousaiDialog></app-view-syousai>
<app-no-file-list #noFileListDialog></app-no-file-list>
<!--ファイル一覧ダイアログ-->
<app-view-file [fileData]="fileData"  [onoffData]="onoffData" [passwordData]="passwordData" #fileDialog></app-view-file>
