<div class="panel panel-default" style="width: 50%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    原因分析情報一覧
  </div>
  <div class="panel-body">
    <div class="form-group">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th >
            原因分析内容一覧
          </th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of geninList|orderby:'startAt'; let idx = index;">
          <td>{{idx+1}}</td>
          <td>{{item.name}}　　所属:　{{item.siten}}　{{item.busyo}}<br>
            登録日:　{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}
            <hr>
            {{item.naiyou}}
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
