
<ul class="nav nav-pills nav-justified">
  <li role="presentation"  (click)="aaa()" [ngClass]="aa"><a  routerLink="/main/topclaim/addtaisaku/listtaisaku"  class="text-success">恒久対策一覧</a></li>
  <li role="presentation"  (click)="bbb()" [ngClass]="bb"><a  routerLink="/main/topclaim/addtaisaku/inputtaisaku"  class="text-success">恒久対策登録</a></li>
  <li role="presentation"  [ngClass]="cc"><a  routerLink="/main/topclaim/addtaisaku/addimagetaisaku" class="text-success" >関連ファイル登録</a></li>
</ul>




<router-outlet></router-outlet>
