<div class="panel panel-default" style="width: 100%;margin: 0 auto;">
  <div class="panel-heading">
    登録会社一覧
  </div>
  <div class="panel-body">
    <div class="form-group">
      <table class="table table-striped">
        <thead>

        <tr>
          <th></th>
          <th  style="width: 40%">
            会社名
          </th>
          <th  style="width: 40%">
            uid
          </th>
          <th  style="width: 20%">
            登録日時
          </th>
          <th >
            編集
          </th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let item of companyList|orderby:'startAt'; let idx = index;">
          <td>{{idx+1}}</td>
          <td style="word-wrap:break-word;">{{item.companyname}}</td>
          <td style="word-wrap:break-word;">{{item.key}}</td>


          <td>{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="setEdit(idx)">編集</button>
            <!--<button type="button" class="btn btn-danger" (click)="Delete(idx)">削除</button>-->

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>

<!--編集ダイアログ-->
<app-company-edit-dialog [companyData]="companyData"  #companyeditDialog></app-company-edit-dialog>
