<div class="modal fade" bsModal #lgModal="bs-modal" id="sampleModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="lgModal.hide()"><span>×</span></button>
        <h4 class="modal-title">対象のファイル一覧</h4>
      </div>
      <div class="modal-body">



        <div style=" margin: 0 auto;height:500px;width:870px;overflow:auto">


          <ul class="list-inline" >

            <li  *ngFor="let item of fileSameList let idx = index;">
              <div style="width: 200px" class="thumbnail">

                <!--参考サイト　http://taneppa.net/css3_01/-->
                <p class="img01 waku01"> <img style="height: 150px" src="{{item?.downloadURL}}"></p>
                <div class="caption">
                  <p>{{item?.doko}}</p>
                  <p>備考</p>
                  <div style=" margin: 0 auto;height:150px;width:130px;overflow:auto">
                    <p>{{item?.comment}}</p>
                  </div>
                  <p>{{item?.toukousya}}</p>
                  <p>{{item?.siten}}　{{item?.busyo}}</p>


                  <div class="btn-group" dropdown>
                    <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                      <i class="fa fa-list" aria-hidden="true"></i>　各種操作<span class="caret"></span>
                    </button>
                    <ul style="cursor: pointer" dropdownMenu role="menu" aria-labelledby="single-button">
                      <li role="menuitem"><a class="dropdown-item" href="{{item.downloadURL}}"  target="_blank"><i class="fa fa-picture-o" aria-hidden="true"></i>　拡大</a></li>
                     <!--<li role="menuitem"><a class="dropdown-item"  *ngIf="onoffData" (click)="setEditPassword(idx)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>　編集</a></li>-->
                      <!--<li role="menuitem"><a class="dropdown-item"  *ngIf="onoffData" (click)="setPassword(idx)"><i class="fa fa-trash" aria-hidden="true"></i>　削除</a></li>-->
                   </ul>
                  </div>



                  <!--<p><a href="{{item.downloadURL}}" class="btn btn-default" role="button" target="_blank">拡大</a>-->
                    <!--<a *ngIf="onoffData" (click)="setEditPassword(idx)" class="btn btn-default" role="button" target="_blank">編集</a>-->
                    <!--<a *ngIf="onoffData" (click)="setPassword(idx)" class="btn btn-default" role="button" target="_blank">削除</a>-->


                  <!--</p>-->
                </div>
              </div>

            </li>
          </ul>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"   (click)="reset()" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<app-image-delete-dialog  [password]="password"  #imageDeleteDialog></app-image-delete-dialog>
<app-image-dialog  [password2]="password2"  #imageEditDialog></app-image-dialog>

