



<div class="panel panel-default" style="width: 50%;margin: 0 auto;">
  <div class="panel-heading">
    プラン編集<br>
   <strong> ◎現在のプランは{{model.label}}プランです。</strong>
  </div>
  <div class="panel-body">

    <div *ngIf="!OnOff" class="alert alert-danger" role="alert" style="margin-top: 10px">まだ会社情報が登録されていません<a style="cursor: pointer"
                                                                                             (click)="sendCompanyInfo()">会社情報登録画面へ</a></div>


<div class="form-group">
  <div *ngIf="OnOff">

  <label>プラン変更 <a HREF="/priceinfo" TARGET="_blank">【価格プラン確認】</a></label><br>

  <label class="radio-inline">
    <input type="radio" [(ngModel)]="model.label"  name="label" value="スタンダード">　スタンダード
  </label>
  <label class="radio-inline">
    <input type="radio" [(ngModel)]="model.label"  name="label" value="プレミアム">　プレミアム
  </label>
  <label class="radio-inline">
    <input type="radio" [(ngModel)]="model.label"  name="label" value="エキスパート">　エキスパート
  </label>
  </div>
</div>
    <div *ngIf="OnOff2" class="alert alert-info" style="margin-bottom: 5px" role="alert">プランが変更されました。</div>
<button *ngIf="OnOff"  (click)="upCompanyInfo2()" class="btn btn-primary btn-block">プラン変更</button>

    <div  *ngIf="OnOff" class="alert alert-info" role="alert" style="margin-top: 10px">プランを変更された場合再ログインしてください。<br>変更が反映されます。</div>



  </div>
</div>



<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--プログレスダイアログ-->
<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>
<!--カード登録ダイアログ-->
<app-add-card [urlData]="urlData"  [gmoData]="gmoData"#cardDialog></app-add-card>
