<div class="panel panel-default">
  <div class="panel-heading">
    情報(クレーム情報や社内不具合情報)を登録する方法
  </div>
  <div class="panel-body">


    <p>ログインしてトップ画面の右上より</p>
    <img src="assets/usage/claimAdd/1.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/3.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/4.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/5.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/6.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/7.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/8.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/9.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/10-1.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/10-2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/11.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/12.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/13.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/14.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/15.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/16.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/17.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/claimAdd/18.png" style="width: 800px" alt="">
    <hr class="style-two">


  </div>
</div>


