
<app-header></app-header>





<div class="panel panel-default" style="width: 70%;margin: 0 auto;margin-top: 30px;">
  <div class="panel-heading">
    運営会社
  </div>
  <div class="panel-body">

    <h3>【企業理念】</h3>
    <hr>
    <h4>　　昨日より今日、今日より明日、一歩一歩前進</h4>
    <hr class="style-two">
    <h3>【経営理念】</h3>
    <hr>
    <h4>　　情報の価値を上げ、顧客の経営の合理化に寄与する</h4>
    <hr class="style-two">

    <h3>【行動指針】</h3>
    <hr>
    <h4>　　各々が創意工夫を怠らず<br>
    　　お客様に、より多くの喜びをお届けできるように、常に努める</h4>
    <hr class="style-two">
<h4 style="margin-top: 90px">【会社名】</h4>
<hr>
<h4>　　LotsJOY【ロッツジョイ】</h4>
    <hr class="style-two">
  <h4 style="margin-top: 50px">【代表取締役】</h4>
    <hr>
  <h4>　　伊藤慎一</h4>
    <hr class="style-two">

  <h4 style="margin-top: 50px">【事業内容】</h4>
    <hr>
  <ul style="margin-top: 20px">
    <li >Webサービスの作成</li>
    <li >Webサービスの運営</li>

  </ul>
    <hr class="style-two">

  <h4 style="margin-top: 50px">【設立】</h4>
    <hr>
  <h4>　　2017年4月2日</h4>
    <hr class="style-two">
  <h4 style="margin-top: 50px">【住所】</h4>
    <hr >
  <h4>　　岐阜県山県市高富2778-14</h4>
    <hr class="style-two">




</div>
    </div>


