
<app-header></app-header>





<div class="panel panel-default" style="width: 70%;margin: 0 auto;margin-top: 30px;">
  <div class="panel-heading">
    運営会社
  </div>
  <div class="panel-body">


<h3>会社名</h3>
<hr>
<p>LotsJOY【ロッツジョイ】</p>

  <h3>代表取締役</h3>
  <hr>
  <p>伊藤慎一</p>


  <h3>事業内容</h3>
  <hr>
  <ul style="margin-top: 20px">
    <li >Webサービスの運営</li>
    <li >Andoroidアプリ開発</li>
  </ul>


  <h3>設立</h3>
  <hr>
  <p>2017年4月2日</p>

  <h3>住所</h3>
  <hr>
  <p>岐阜県山県市高富2778-14</p>





</div>
    </div>


