<app-nav-main></app-nav-main>

<app-nav-sabu></app-nav-sabu>
<div class="panel panel-default" style="width: 60%;margin: 0 auto;margin-top: 30px">
  <div class="panel-heading">
    投稿前情報編集
  </div>
  <div class="panel-body">

    <div class="form-group">
      <label for="toukousya">投稿者</label>
      <select (change)="setMember($event.target.value)" class="form-control" id="toukousya" [(ngModel)]="toukousyaData" name="toukousya">
        <option *ngFor="let item of memberList" [value]="item.key">{{item.name}}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="InputPassword">パスワード</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" id="InputPassword" placeholder="編集用パスワード。">
    </div>

    <button type="button" (click)="getData()" class="btn btn-primary btn-block">投稿前情報取得</button>
  </div>
</div>


<div *ngIf="OnOff" class="panel panel-default" style="width: 60%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    情報仮登録一覧
  </div>
  <div class="panel-body">
    <div class="form-group">
      <table class="table table-striped">
        <thead>

        <tr>
          <th></th>

          <th >
            概要　　　　　　　　　　　　
          </th>
          <th >
            種別
          </th>
          <th >
            編集
          </th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let item of newclaimList let idx = index;">
          <td>{{idx+1}}</td>
          <td>{{item.gaiyou}}</td>
          <td>{{item.syubetu}}</td>

          <td>
            <!--<button type="button" class="btn btn-primary" (click)="setEdit(idx)">編集</button>-->
            <!--<button type="button" class="btn btn-danger" (click)="Delete(idx)">削除</button>-->

            <div class="btn-group" dropdown>
              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                <i class="fa fa-list" aria-hidden="true"></i>　各種設定変更<span class="caret"></span>
              </button>
              <ul style="cursor: pointer" dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a class="dropdown-item" (click)="setEdit(idx)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>　編集</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="Delete(idx)"><i class="fa fa-trash" aria-hidden="true"></i>　削除</a></li>

              </ul>
            </div>






          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--削除ダイアログ-->
<app-claim-delete-dialog [claimData]="claimData"  #claimDeleteDialog></app-claim-delete-dialog>
