<!-- Static navbar -->
<nav class="menu navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">メニュー</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="#" class="navbar-brand">
        <img  alt="rogo" src="assets/img/companylogo.png" style="height: 30px;">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()" style="cursor:pointer;">ホーム</a></li>
        <li><a  style="cursor:pointer;" HREF="/usage/softinfo"  TARGET="_blank">アプリについて</a></li>
        <li><a HREF="/priceinfo" TARGET="_blank">価格</a></li>
        <li><a routerLink="/askform">お問い合わせ</a></li>
        <li><button type="button" (click)="logout()" class="btn btn-primary navbar-btn navbar-right">ログアウト</button></li>
      </ul>
    </div>

  </div><!-- container -->
</nav>


