



<div class="panel panel-default" style="width: 100%;margin: 0 auto;">
  <div class="panel-heading">
    コメント情報一覧
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div style="height:500px; overflow-y:auto;">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th >
            コメント内容一覧
          </th>
          <th >
            編集
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of newcommentList|orderby:'startAt'; let idx = index;">
          <td>

            {{idx+1}}<br>
            <span *ngIf="item.commentUp==true" class="label label-danger">New</span>


          </td>
          <td>{{item.name}}　　所属:　{{item.siten}}　{{item.busyo}}<br>
            登録日:　{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}
            <hr>
               {{item.naiyou}}
          </td>
          <td>
            <!--<button type="button" class="btn btn-primary" (click)="setEdit(idx)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>-->
            <!--<button type="button" class="btn btn-danger" (click)="Delete(idx)"><i class="fa fa-trash" aria-hidden="true"></i></button>-->

            <div class="btn-group" dropdown>
              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                <i class="fa fa-list" aria-hidden="true"></i>　各種設定変更<span class="caret"></span>
              </button>
              <ul style="cursor: pointer" dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a class="dropdown-item" (click)="setEdit(idx)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>　編集</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="Delete(idx)"><i class="fa fa-trash" aria-hidden="true"></i>　削除</a></li>


              </ul>
            </div>




          </td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>







<!--編集ダイアログ-->
<app-comment-dialog [commentData]="commentData"  #editCommentDialog></app-comment-dialog>
<app-comment-delete-dialog  [commentData]="commentData" #deleteCommentDialog></app-comment-delete-dialog>
