<form>
  <div class="panel panel-default" style="width: 80%;margin: 0 auto;">
    <div class="panel-heading">
      支店情報登録
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label for="address">登録者</label>
        <input type="text" class="form-control" id="address" placeholder="登録者を入力して下さい。">
      </div>


      <div class="form-group">
        <label for="companyname">支店名</label>
        <input type="text" class="form-control" id="companyname" placeholder="支店名を入力して下さい。">
      </div>

      <button type="button" class="btn btn-primary btn-block">登録</button>
    </div>
  </div>

</form>
