<div class="panel panel-default">
  <div class="panel-heading">
    各種検索する方法
  </div>
  <div class="panel-body">

    <p>一覧画面より</p>
    <img src="assets/usage/search/1.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/search/2.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/search/3.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/search/4.png" style="width: 800px" alt="">
  <br>

    <img src="assets/usage/search/5.png" style="width: 800px" alt="">
    <hr class="style-two">


  </div>
</div>
