<app-nav-main></app-nav-main>

<app-nav-sabu></app-nav-sabu>
<div class="panel panel-default" style="width: 95%;margin: 0 auto;margin-top: 20px">
  <div class="panel-heading">
    各種一覧選択
  </div>
  <div class="panel-body">



<ul class="nav nav-tabs">
  <li role="presentation"><a  routerLink="/main/list/claimlistall">情報一覧</a></li>
  <li role="presentation"><a  routerLink="/main/list/taisakulistall">対策一覧</a></li>
  <li role="presentation"><a  routerLink="/main/list/taioulistall">対応一覧</a></li>
  <li role="presentation"><a  routerLink="/main/list/geninlistall">原因分析一覧</a></li>
  <li role="presentation"><a  routerLink="/main/list/koukalistall">効果確認一覧</a></li>
</ul>
<router-outlet></router-outlet>

  </div>
</div>















