



<div class="panel panel-default" style="width: 100%;margin: 0 auto;">
  <div class="panel-heading">
    登録会社一覧
    <p>カードが編集された日時を確認し編集したのか削除されたのか判断できないので<br>GMO管理画面と照合して削除ならtermを0に変更。カード追加
      ならそのまま</p>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <table class="table table-striped">
        <thead>

        <tr>
          <th></th>
          <th  style="width: 30%">
            会社名
          </th>
          <th  style="width: 30%">
            カード編集日
          </th>
          <th  style="width: 10%">
            term
          </th>
          <th  style="width: 30%">
            uid
          </th>
          <th >
            編集
          </th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let item of companyList|orderby:'cardedit'; let idx = index;">
          <td>{{idx+1}}</td>
          <td style="word-wrap:break-word;">{{item.companyname}}</td>
          <td>{{item.cardedit| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}</td>
          <td style="word-wrap:break-word;">{{item.term}}</td>

          <td style="word-wrap:break-word;">{{item.key}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="setEdit(idx)">編集</button>
            <!--<button type="button" class="btn btn-danger" (click)="Delete(idx)">削除</button>-->

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>

<!--編集ダイアログ-->
<app-card-edit-check-dialog [companyData]="companyData"  #cardEditCheckDialog></app-card-edit-check-dialog>
