<div class="panel panel-default">
  <div class="panel-heading">
    情報(クレーム情報や社内不具合情報)に関連する画像を登録する方法
  </div>
  <div class="panel-body">


    <p>一覧画面より</p>
    <img src="assets/usage/imageadd/1.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/3.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/4.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/5.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/6.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/7.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/imageadd/8.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/imageadd/9.png" style="width: 800px" alt="">
    <hr class="style-two">

    <img src="assets/usage/imageadd/10.png" style="width: 800px" alt="">
    <hr class="style-two">
    <p>応急対応や恒久対策、原因分析、効果確認に関連する画像を<br>
      登録する場合は以下のように登録ください。(操作方法は共通です)
    </p>
   <img src="assets/usage/imageadd/11.png" style="width: 800px" alt="">
    <hr class="style-two">
   <img src="assets/usage/imageadd/12.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/13.png" style="width: 800px" alt="">
   <hr class="style-two">
    <img src="assets/usage/imageadd/2.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/3.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/4.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/5.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/6.png" style="width: 800px" alt="">
    <hr class="style-two">
    <img src="assets/usage/imageadd/7.png" style="width: 800px" alt="">
    <hr class="style-two">




  </div>
</div>



