<div class="modal fade" bsModal #lgModal="bs-modal" id="sampleModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="lgModal.hide()"><span>×</span></button>
        <h4 class="modal-title">情報詳細</h4>
      </div>

      <div style=" margin: 0 auto;height:500px;width:870px;overflow:auto">
      <div class="modal-body">


        <div class="form-group">
          <label for="gaiyou">情報概要</label>
          <input type="text" class="form-control" id="gaiyou" value="{{claimItem?.gaiyou}}" >
        </div>



        <div class="form-group">
          <label for="syousai">情報詳細</label>
          <textarea type="text" class="form-control" id="syousai" value="{{claimItem?.syousai}}" rows="4"></textarea>
        </div>

        <div class="form-group">
          <label for="moto">情報元</label>
          <input type="text" class="form-control"  id="moto" value="{{claimItem?.moto}}">
        </div>

        <div class="form-group">
          <label for="hasseibasyo">発生場所 工程</label>
          <input type="text" class="form-control"  name="basyo" value="{{claimItem?.basyo}}" id="hasseibasyo" placeholder="(例)組み立て工程のライン上。出荷作業中">
        </div>

        <div class="form-group">
          <label for="hasseibi">発生日</label>
          <input type="text" id="hasseibi" class="form-control"  placeholder="発生日入力" value="{{ claimItem?.hasseibi | date:'yyyy/MM/dd'}}">

        </div>

        <div class="form-group">
          <label for="hasseiji">発生時間帯【予想される時間帯】</label>
          <input type="text" id="hasseiji" class="form-control"  placeholder="予想時間帯入力" value="{{ claimItem?.hasseiji | date:'shortTime':'JST'}}">
        </div>

        <div class="form-group">
          <label for="seihinInfo">製品補足情報</label>
          <textarea type="text" class="form-control"  value="{{claimItem?.seihininfo}}" name="seihininfo"  id="seihinInfo" placeholder="対象製品の補足情報を入力ください。"></textarea>
        </div>


        <div class="form-group">
          <label for="yosoukoutei">対応が必要と予想される部署 工程</label>
          <input type="text" class="form-control"  value="{{claimItem?.yosoukoutei}}" name="yosoukoutei" id="yosoukoutei">
        </div>

     <div class="form-group">
          <label for="name">投稿者</label>
          <input type="text" class="form-control" id="name"   name="name" value="{{claimItem?.name}}" placeholder="投稿者名を入力して下さい。">
        </div>

        <div class="form-group">
          <label for="siten">支店名</label>
          <input type="text" class="form-control" id="siten"   name="siten" value="{{claimItem?.siten}}" placeholder="支店名を入力して下さい。">
        </div>

        <div class="form-group">
          <label for="busyo">部署名</label>
          <input type="text" class="form-control" id="busyo"   name="busyo" value="{{claimItem?.busyo}}" placeholder="部署名を入力して下さい。">
        </div>



      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"   (click)="lgModal.hide()" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
