<app-nav-main></app-nav-main>

  <app-nav-sabu></app-nav-sabu>

<div class="panel panel-default" style="width: 70%;margin: 0 auto;margin-top: 30px">
  <div class="panel-heading">
    情報種別編集
  </div>
  <div class="panel-body">


    <div class="form-group">
      <label for="syubetu">種別</label>
      <input type="text" class="form-control" id="syubetu"  [(ngModel)]="syubetuname" placeholder="種別名を入力して下さい。">
    </div>

    <div class="form-group">
      <label for="tourokusya">登録者</label>
      <input type="text" [(ngModel)]="tourokusyaname"  class="form-control" id="tourokusya" placeholder="登録者を入力して下さい。">
    </div>



    <button   class="btn btn-primary btn-block" (click)="addSyubetu()"><i class="fa fa-plus" aria-hidden="true"></i>登録</button>

  </div>
</div>
<div class="panel panel-default" style="width: 70%;margin: 0 auto;margin-top: 10px">
  <div class="panel-heading">
    情報種別一覧
  </div>
  <div class="panel-body">


    <div class="form-group">
      <table class="table table-striped">
        <thead>

        <tr>
          <th></th>
          <th >
            情報種別
          </th>
          <th >
            登録者
          </th>
          <th >
            編集
          </th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let item of syubetus let idx = index;">
          <td>{{idx+1}}</td>
          <td>{{item.syubetu}}</td>
          <td>{{item.tourokusya}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="setEdit(idx)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>編集</button>
            <button type="button" class="btn btn-danger" (click)="Delete(idx)"><i class="fa fa-trash" aria-hidden="true"></i>削除</button>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--以下にダイアログ-->

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-body">


        <div class="form-group">
          <label for="syubetuname">情報種別</label>
          <input type="text" class="form-control" id="syubetuname"  [(ngModel)]="syubetuname" name="busyo" value="{{syubetuData?.syubetu}}" placeholder="情報種別名を入力して下さい。">
        </div>
        <div class="form-group">
          <label for="tourokusyaname">登録者</label>
          <input type="text" class="form-control" id="tourokusyaname"  [(ngModel)]="tourokusyaname" name="tourokusya" value="{{syubetuData?.tourokusya}}" placeholder="登録者名を入力して下さい。">
        </div>
        <button  type="button"  class="btn btn-primary btn-block" (click)="onEdit()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>編集</button>
        <button  type="button"  class="btn btn-default btn-block" (click)="lgModal.hide()"><i class="fa fa-ban" aria-hidden="true"></i>キャンセル</button>

      </div>
    </div>
  </div>
</div>
