
<div *ngIf="!fileup" class="alert alert-danger" role="alert">月に割り当てられた情報登録数がオーバーしてます。プランの変更を検討ください。</div>


<form *ngIf="fileup" (ngSubmit)="onAdd()" [formGroup]="myForm">
  <div class="panel panel-default" style="width: 100%;margin: 0 auto;">
    <div class="panel-heading">
      対策種別登録
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label for="taisakusyubetu">対策種別<span *ngIf="myForm.controls.taisakusyubetu.dirty &&
                myForm.controls.taisakusyubetu.errors||myForm.controls.taisakusyubetu.untouched &&
           myForm.controls.taisakusyubetu.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.taisakusyubetu.errors.required ">
        *</span>
          </span></label>
        <select class="form-control" id="taisakusyubetu" [(ngModel)]="taisakusyubetu" formControlName="taisakusyubetu">
          <option *ngFor="let item of taisakuSyubetuList" [value]="item.taisaku">{{item.taisaku}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="other">その他</label>
        <a id="other" class="text-danger" style="cursor: pointer"(click)="addTaisakuSyubetu()">　選択ボックスに追加【選択ボックス内に該当するものがなければ追加】</a>
      </div>

      <div class="form-group">
        <label for="toukousya">投稿者<span *ngIf="myForm.controls.toukousya.dirty &&
                myForm.controls.toukousya.errors||myForm.controls.toukousya.untouched &&
           myForm.controls.toukousya.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.toukousya.errors.required ">
        *</span>
          </span></label>
        <select (change)="setMember($event.target.value)" class="form-control" id="toukousya" [(ngModel)]="toukousyaData" formControlName="toukousya">
          <option *ngFor="let item of memberList" [value]="item.key">{{item.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="branch">所属</label>
        <input type="text" class="form-control" id="branch" value="{{siten}}　{{busyo}}" [(ngModel)]="branch" formControlName="branch">
      </div>

      <div class="form-group">
        <label for="hasseibi">対策日</label>
        <input type="text" id="hasseibi" class="form-control" (click)="open()" placeholder="対策日を入力ください" value="{{ getDate() | date:'yyyy/MM/dd'}}">
        <div *ngIf="opened">
          <div style="display:inline-block; min-height:290px;">
            <datepicker  [(ngModel)]="dt" formControlName="dt"></datepicker>
            <button type="button" class="btn btn-warning" (click)="open()">閉じる</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="taiou">対策内容<span *ngIf="myForm.controls.naiyou.dirty &&
                myForm.controls.naiyou.errors||myForm.controls.naiyou.untouched &&
           myForm.controls.naiyou.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.naiyou.errors.required ">
        *</span>
          </span></label>
        <textarea type="text" class="form-control" rows="3"  [(ngModel)]="naiyou" formControlName="naiyou" id="taiou" placeholder="対策内容を入力ください。"></textarea>
      </div>




      <div class="form-group">
        <label for="InputPassword">パスワード<span *ngIf="myForm.controls.password.dirty &&
                myForm.controls.password.errors||myForm.controls.password.untouched &&
           myForm.controls.password.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.password.errors.required ">
        *</span>
          </span></label>
        <input type="password" class="form-control"  [(ngModel)]="password" formControlName="password" id="InputPassword" placeholder="編集用パスワード。">
      </div>



      <button *ngIf="OnOff" [disabled]="!myForm.valid" class="btn btn-primary btn-block">登録</button>
      <div *ngIf="!OnOff" class="alert alert-success" role="alert">登録が成功しました。上記の恒久対策一覧をクリックし確認ください。</div>

    </div>
  </div>

</form>

<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--プログレスダイアログ-->
<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>
<!--状況追加ダイアログ-->
<app-taisaku-select #selectTaisakuDialog></app-taisaku-select>
