<app-nav-main></app-nav-main>
<div *ngIf="loginCheck">
<app-nav-sabu></app-nav-sabu>
</div>
<div class="container">

  <!-- content -->
  <div class="row" style="padding:60px 0 0 0">
    <!-- left -->
    <div class="col-md-3">
      <app-side-menu></app-side-menu>
     </div>

    <!-- center -->
    <div class="col-md-9" >
      <div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-bottom: 100px">
        <div class="panel-heading">
          <img *ngIf="OnOff" alt="Brand" src="{{photoURL}}" class="img-circle" style="height: 40px;">
          <strong>{{email}}</strong>でログイン中

        </div>
        <div class="panel-body">



      <div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-top: 20px">
        <div class="panel-heading">
          お知らせ一覧
        </div>
        <div class="panel-body">

          <div *ngIf="loginCheck==false" class="alert alert-danger" role="alert">アクセス数がオーバーしました。プランの変更を検討ください。</div>



          <div *ngIf="fileupCheck==false" class="alert alert-danger" role="alert">データアップロード数がオーバーしました。プランの変更を検討ください。</div>



          <div *ngIf="dataupCheck==false" class="alert alert-danger" role="alert">関連ファイルアップロード数がオーバーしました。プランの変更を検討ください。</div>






          <div class="form-group">

            <div style="height:500px; overflow-y:auto;">
            <table class="table table-striped">
              <thead>

              <tr>
                <th></th>
                <th  style="width: 60%">
                  お知らせ
                </th>
                <th  style="width: 40%">
                  登録日時
                </th>

              </tr>

              </thead>
              <tbody>
              <tr *ngFor="let item of newsList|orderby:'startAt'; let idx = index;">
                <td>{{idx+1}}</td>
                <td style="word-wrap:break-word;">{{item.news}}</td>
                <td>{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}</td>

              </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>


          <div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-top: 20px">
            <div class="panel-heading">
              利用容量確認
            </div>
            <div class="panel-body">



              <small><em>取得データ(MB)</em></small>
              <progressbar [animate]="true" [value]="loginPa" type="primary"><b>{{loginPa}}%</b></progressbar>

              <small><em>データアップロード(MB)</em></small>
              <progressbar [animate]="true" [value]="fileupPa" type="primary"><b>{{fileupPa}}%</b></progressbar>

              <small><em>関連ファイルアップロード(MB)</em></small>
              <progressbar [animate]="true" [value]="dataupPa" type="primary"><b>{{dataupPa}}%</b></progressbar>


            </div>
          </div>







</div>
      </div>
    </div>



    </div>

    <!-- right -->
    <!--<div class="col-md-3" style="background-color:#00f0f0">-->
      <!--right-->
    <!--</div>-->
  </div>


<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">

        <h3>LotsJOY【ロッツジョイ】</h3>

        <address>
          〒501-2105 岐阜県山県市高富2778-14
        </address>


      </div><!-- col -->
      <div class="col-sm-5">
        <div class="menu">
          <ul style="margin-top: 20px">


            <li><a [routerLink]="['/main/editinfo']" style="cursor:pointer;">各種編集</a></li>


          </ul>
        </div>
      </div>
    </div><!-- row -->

    <div class="row copyarea text-center">
      <div class="col-sm-12">
        <p class="copy">Copyright &copy; LotJOY,all rights reserved.</p>

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>



















<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--プログレスダイアログ-->
<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>
