<app-nav-main></app-nav-main>
<div *ngIf="loginCheck">
<app-nav-sabu></app-nav-sabu>
</div>
<div class="container">

  <!-- content -->
  <div class="row" style="padding:60px 0 0 0">
    <!-- left -->
    <div class="col-md-3">
      <app-side-menu></app-side-menu>
     </div>

    <!-- center -->
    <div class="col-md-9" >


        <div *ngIf="loginCheck==false" class="alert alert-danger" role="alert">アクセス数がオーバーしました。プランの変更を検討ください。</div>



        <div *ngIf="fileupCheck==false" class="alert alert-danger" role="alert">データアップロード数がオーバーしました。プランの変更を検討ください。</div>



        <div *ngIf="dataupCheck==false" class="alert alert-danger" role="alert">関連ファイルアップロード数がオーバーしました。プランの変更を検討ください。</div>



      <small><em>アクセス数</em></small>
      <progressbar [animate]="true" [value]="loginPa" type="success"><b>{{loginPa}}%</b></progressbar>

      <small><em>データアップロード数</em></small>
      <progressbar [animate]="true" [value]="fileupPa" type="info"><b>{{fileupPa}}%</b></progressbar>

      <small><em>データアップロード数</em></small>
      <progressbar [animate]="true" [value]="dataupPa" type="warning"><b>{{dataupPa}}%</b></progressbar>



    </div>

    <!-- right -->
    <!--<div class="col-md-3" style="background-color:#00f0f0">-->
      <!--right-->
    <!--</div>-->
  </div>

</div>
