<app-nav-main></app-nav-main>
<div *ngIf="loginCheck">
<app-nav-sabu></app-nav-sabu>
</div>
<div class="container">

  <!-- content -->
  <div class="row" style="padding:60px 0 0 0">
    <!-- left -->
    <div class="col-md-3">
      <app-side-menu></app-side-menu>
     </div>

    <!-- center -->
    <div class="col-md-9" >
      <div class="panel panel-default" style="width: 100%;margin: 0 auto;">
        <div class="panel-heading">
          <img *ngIf="OnOff" alt="Brand" src="{{photoURL}}" class="img-circle" style="height: 40px;">
          <strong>{{email}}</strong>でログイン中

        </div>
        <div class="panel-body">

        <div *ngIf="loginCheck==false" class="alert alert-danger" role="alert">アクセス数がオーバーしました。プランの変更を検討ください。</div>



        <div *ngIf="fileupCheck==false" class="alert alert-danger" role="alert">データアップロード数がオーバーしました。プランの変更を検討ください。</div>



        <div *ngIf="dataupCheck==false" class="alert alert-danger" role="alert">関連ファイルアップロード数がオーバーしました。プランの変更を検討ください。</div>



      <small><em>取得データ(MB)</em></small>
      <progressbar [animate]="true" [value]="loginPa" type="success"><b>{{loginPa}}%</b></progressbar>

      <small><em>データアップロード(MB)</em></small>
      <progressbar [animate]="true" [value]="fileupPa" type="info"><b>{{fileupPa}}%</b></progressbar>

      <small><em>関連ファイルアップロード(MB)</em></small>
      <progressbar [animate]="true" [value]="dataupPa" type="warning"><b>{{dataupPa}}%</b></progressbar>


      <div class="panel panel-default" style="width: 100%;margin: 0 auto;margin-top: 20px">
        <div class="panel-heading">
          お知らせ一覧
        </div>
        <div class="panel-body">
          <div class="form-group">
            <table class="table table-striped">
              <thead>

              <tr>
                <th></th>
                <th  style="width: 60%">
                  お知らせ
                </th>
                <th  style="width: 40%">
                  登録日時
                </th>

              </tr>

              </thead>
              <tbody>
              <tr *ngFor="let item of newsList|orderby:'startAt'; let idx = index;">
                <td>{{idx+1}}</td>
                <td style="word-wrap:break-word;">{{item.news}}</td>
                <td>{{item.startAt| date: 'yyyy/MM/dd : hh:mm:ss':'JST'}}</td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


</div>
      </div>
    </div>



    </div>

    <!-- right -->
    <!--<div class="col-md-3" style="background-color:#00f0f0">-->
      <!--right-->
    <!--</div>-->
  </div>


<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--プログレスダイアログ-->
<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>
