<form>
<div class="panel panel-default" style="width: 80%;margin: 0 auto;">
  <div class="panel-heading">
    情報概要
  </div>
  <div class="panel-body">

    <div class="form-group">
      <label for="companyname">会社名</label>
      <input type="text" class="form-control" id="companyname" placeholder="会社名を入力して下さい。">
    </div>
    <div class="form-group">
      <label for="address">住所</label>
      <input type="text" class="form-control" id="address" placeholder="住所を入力して下さい。">
    </div>

    <div class="form-group">
      <label for="tel">TEL</label>
      <input type="text" class="form-control" id="tel" placeholder="電話番号を入力して下さい。">
    </div>

    <div class="form-group">
      <label for="daihyouname">代表者名</label>
      <input type="text" class="form-control" id="daihyouname" placeholder="代表者名を入力して下さい。">
    </div>


    <div class="form-group">
      <label for="syokusyu">職種</label>
      <select class="form-control" id="syokusyu">
        <option>選択肢１</option>
        <option>選択肢２</option>
        <option>選択肢３</option>
      </select>
    </div>

    <div class="form-group">
      <label for="jyugyouinsu">従業員数</label>
      <select class="form-control" id="jyugyouinsu">
        <option>選択肢１</option>
        <option>選択肢２</option>
        <option>選択肢３</option>
      </select>
    </div>


    <div class="form-group">
      <label for="tantousyaname">担当者名</label>
      <input type="text" class="form-control" id="tantousyaname" placeholder="担当者名を入力して下さい。">
    </div>

    <div class="form-group">
      <label for="mail">メールアドレス</label>
      <input type="email" class="form-control" id="mail" placeholder="連絡用のメールアドレスを入力ください。">
    </div>





    <button type="button" class="btn btn-primary btn-block">登録</button>
  </div>
</div>



</form>
