
<app-nav-main></app-nav-main>

<!--<app-nav-sabu></app-nav-sabu>-->


<form [formGroup]="myForm"
      (ngSubmit)="onAdd()">
<div class="panel panel-default" style="width: 60%;margin: 0 auto;margin-top: 30px">
  <div class="panel-heading">
    会社情報詳細登録
  </div>
  <div class="panel-body">
    <div class="alert alert-success" role="alert">30日間ご利用ありがとうございます。<br>引き続きご利用いただくために下記の登録を行ってください。</div>
    <div class="form-group">
      <label for="companyname">会社名<span *ngIf="myForm.controls.companyname.dirty &&
                myForm.controls.companyname.errors||myForm.controls.companyname.untouched &&
           myForm.controls.companyname.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.companyname?.errors.required ">
        *</span>
          </span></label>
      <input type="text" class="form-control" formControlName="companyname" [(ngModel)]="companyname"  id="companyname" placeholder="会社名を入力して下さい。">
    </div>
    <div class="form-group">
      <label for="address">住所<span *ngIf="myForm.controls.address.dirty &&
                myForm.controls.address.errors||myForm.controls.address.untouched &&
           myForm.controls.address.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.address.errors.required ">
        *</span>
          </span></label>
      <input type="text" class="form-control" formControlName="address" [(ngModel)]="address"  id="address" placeholder="住所を入力して下さい。">
    </div>

    <div class="form-group">
      <label for="tel">TEL<span *ngIf="myForm.controls.tel.dirty &&myForm.controls.tel.errors||myForm.controls.tel.untouched &&
                myForm.controls.tel.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.tel.errors.required ">
        *</span>
        <span class="text-danger"
              [hidden]="!myForm.controls.tel.errors.pattern ">
        Format error</span>
      </span></label>
      <input type="text" class="form-control" formControlName="tel" [(ngModel)]="tel"  id="tel" placeholder="電話番号を入力して下さい。">
    </div>

    <div class="form-group">
      <label for="daihyouname">代表者名<span *ngIf="myForm.controls.daihyouname.dirty &&
                myForm.controls.daihyouname.errors||myForm.controls.daihyouname.untouched &&
           myForm.controls.daihyouname.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.daihyouname.errors.required ">
        *</span>
          </span></label>
      <input type="text" class="form-control" id="daihyouname" formControlName="daihyouname" [(ngModel)]="daihyouname"  placeholder="代表者名を入力して下さい。">
    </div>


    <div class="form-group">
      <label for="syokusyu">職種<span *ngIf="myForm.controls.occupation.dirty &&
                myForm.controls.occupation.errors||myForm.controls.occupation.untouched &&
           myForm.controls.occupation.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.occupation.errors.required ">
        *</span>
          </span></label>
      <select class="form-control" id="syokusyu" formControlName="occupation"  [(ngModel)]='occupation'>
        <option *ngFor="let item of occupations" [value]="item.label">
          {{ item.label }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="jyugyouinsu">従業員数<span *ngIf="myForm.controls.employee.dirty &&
                myForm.controls.employee.errors||myForm.controls.employee.untouched &&
           myForm.controls.employee.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.employee.errors.required ">
        *</span>
          </span></label>
      <select class="form-control" id="jyugyouinsu" formControlName="employee"  [(ngModel)]='employee'>
        <option *ngFor="let item of employees" [value]="item.label">
          {{ item.label }}
        </option>
      </select>
    </div>


    <div class="form-group">
      <label for="tantousyaname">担当者名<span *ngIf="myForm.controls.tantouname.dirty &&
                myForm.controls.tantouname.errors||myForm.controls.tantouname.untouched &&
           myForm.controls.tantouname.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.tantouname.errors.required ">
        *</span>
          </span></label>
      <input type="text" class="form-control" formControlName="tantouname"  [(ngModel)]='tantouname' id="tantousyaname" placeholder="担当者名を入力して下さい。">
    </div>

    <div class="form-group">
      <label for="email">メールアドレス<span *ngIf="myForm.controls.email.dirty &&
                myForm.controls.email.errors||myForm.controls.email.untouched &&
           myForm.controls.email.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.email.errors.required ">
        *</span>
          <span class="text-danger"
                [hidden]="!myForm.controls.email.errors.pattern ">
        Format error</span>
          </span></label>
      <input type="email" class="form-control" formControlName="email"  [(ngModel)]='email' id="email" placeholder="連絡用のメールアドレスを入力ください。">
    </div>



    <div class="checkbox">
      <label>
        <input type="checkbox" value="checkboxA"formControlName="riyoukiyaku" [(ngModel)]="riyoukiyaku" >
        利用規約に同意する  <span *ngIf="myForm.controls.riyoukiyaku.dirty &&
                myForm.controls.riyoukiyaku.errors||myForm.controls.riyoukiyaku.untouched &&
                myForm.controls.riyoukiyaku.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.riyoukiyaku.errors.required ">*</span>
              <span ion-text  color="danger"
                    [hidden]="!myForm.controls.riyoukiyaku.errors.pattern ">
              同意されてません</span>
        </span><a HREF="/riyoukiyaku" TARGET="_blank">【利用規約確認】</a>

      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="checkboxB" formControlName="privacypolicy" [(ngModel)]="privacypolicy" >
        プライバシーポリシーに同意する<span *ngIf="myForm.controls.privacypolicy.dirty &&
                myForm.controls.privacypolicy.errors||myForm.controls.privacypolicy.untouched &&
                myForm.controls.privacypolicy.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.privacypolicy.errors.required ">*</span>
              <span ion-text  color="danger"
                    [hidden]="!myForm.controls.privacypolicy.errors.pattern ">
              同意されてません</span>
      </span><a HREF="/privacypolicy" TARGET="_blank">【プライバシーポリシー確認】</a>
      </label>
    </div>



<hr>

    <div class="form-group">
      <label>プラン選択 <a HREF="/priceinfo" TARGET="_blank">【価格プラン確認】</a><span *ngIf="myForm.controls.label.dirty &&
                myForm.controls.label.errors||myForm.controls.label.untouched &&
                myForm.controls.label.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.label.errors.required ">*</span></span></label><br>

      <label class="radio-inline">
        <input type="radio" [(ngModel)]="model.label"  formControlName="label" value="スタンダード">　スタンダード
      </label>
      <label class="radio-inline">
        <input type="radio" [(ngModel)]="model.label"  formControlName="label" value="プレミアム">　プレミアム
      </label>
      <label class="radio-inline">
        <input type="radio" [(ngModel)]="model.label"  formControlName="label" value="エキスパート">　エキスパート
      </label>

    </div>

<hr>
     <button  [disabled]="!myForm.valid" class="btn btn-primary btn-block">登録</button>
  </div>
</div>



</form>
