<app-nav-main></app-nav-main>

<app-nav-sabu></app-nav-sabu>
<form (ngSubmit)="onAdd()" [formGroup]="myForm">
  <div class="panel panel-default" style="width: 60%;margin: 0 auto;margin-top: 20px">
    <div class="panel-heading">
      情報概要

    </div>
    <div class="panel-body">
      <p class="text-right text-danger">*は必須です</p>
      <div class="form-group">
        <label for="syubetu">情報種別<span *ngIf="myForm.controls.syubetu.dirty &&
                myForm.controls.syubetu.errors||myForm.controls.syubetu.untouched &&
           myForm.controls.syubetu.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.syubetu.errors.required ">
        *</span>
          </span></label>
        <select class="form-control" id="syubetu" [(ngModel)]="syubetu" formControlName="syubetu">
          <option *ngFor="let item of syubetus" [value]="item.syubetu">{{item.syubetu}}</option>
        </select>
  </div>


      <div class="form-group">
        <label for="other">その他</label>
        <a id="other" class="text-danger" style="cursor: pointer"(click)="addSyubetu()">　情報種別に追加【選択ボックス内に該当する種別がなければ追加】</a>
      </div>







      <div class="form-group">
        <label for="seihin">対象製品<span *ngIf="myForm.controls.seihin.dirty &&
                myForm.controls.seihin.errors||myForm.controls.seihin.untouched &&
           myForm.controls.seihin.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.seihin.errors.required ">
        *</span>
          </span></label>
        <input type="text" class="form-control" id="seihin" [(ngModel)]="seihin" formControlName="seihin" placeholder="製品名を入力して下さい。">
      </div>

      <div class="form-group">
        <label for="gaiyou">情報概要<span *ngIf="myForm.controls.gaiyou.dirty &&
                myForm.controls.gaiyou.errors||myForm.controls.gaiyou.untouched &&
           myForm.controls.gaiyou.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.gaiyou.errors.required ">
        *</span>
          </span></label>
        <input type="text" class="form-control" rows="3" id="gaiyou" [(ngModel)]="gaiyou" formControlName="gaiyou" placeholder="情報の概要を入力ください。">
      </div>

      <div class="form-group">
        <label for="toukousya">投稿者<span *ngIf="myForm.controls.toukousya.dirty &&
                myForm.controls.toukousya.errors||myForm.controls.toukousya.untouched &&
           myForm.controls.toukousya.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.toukousya.errors.required ">
        *</span>
          </span></label>
        <select (change)="setMember($event.target.value)" class="form-control" id="toukousya" [(ngModel)]="toukousyaData" formControlName="toukousya">
          <option *ngFor="let item of memberList" [value]="item.key">{{item.name}}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="branch">所属</label>
        <input type="text" class="form-control" id="branch" value="{{siten}}　{{busyo}}" [(ngModel)]="branch" formControlName="branch">
      </div>

      <div class="form-group">
        <label for="InputPassword">パスワード<span *ngIf="myForm.controls.password.dirty &&
                myForm.controls.password.errors||myForm.controls.password.untouched &&
           myForm.controls.password.errors">
      <span class="text-danger"
            [hidden]="!myForm.controls.password.errors.required ">
        *</span>
          </span></label>
        <input type="password" class="form-control" id="InputPassword" [(ngModel)]="password" formControlName="password" placeholder="編集用パスワード。">
      </div>

     <button *ngIf="OnOff"  [disabled]="!myForm.valid" class="btn btn-primary btn-block">管理番号取得</button>
      <div *ngIf="!OnOff" class="alert alert-success" role="alert">管理番号が取得出来ました。下記に詳細を記入ください。</div>

   </div>
  </div>
</form>





  <div *ngIf="getKey()" class="panel panel-default" style="width: 60%;margin: 0 auto;margin-top: 20px">
    <div class="panel-heading">
      情報詳細
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label for="syousai">情報詳細</label>
        <textarea type="text" class="form-control" [(ngModel)]="syousai" name="syousai" rows="3" id="syousai" placeholder="情報の詳細を入力ください。"></textarea>
      </div>

  <div class="form-group">
    <label for="hasseisaki">情報元</label>
    <input type="text" class="form-control" [(ngModel)]="moto" name="moto" id="hasseisaki" placeholder="情報の発生元である顧客名等を入力ください。">
  </div>

  <div class="form-group">
    <label for="hasseibasyo">発生場所 工程</label>
    <input type="text" class="form-control" [(ngModel)]="basyo" name="basyo" id="hasseibasyo" placeholder="(例)組み立て工程のライン上や出荷作業中">
  </div>

      <div class="form-group">
        <label for="hasseibi">発生日</label>
        <input type="text" id="hasseibi" class="form-control" (click)="open()" placeholder="発生日入力" value="{{ getDate() | date:'yyyy/MM/dd'}}">
      <div *ngIf="opened">
        <div style="display:inline-block; min-height:290px;">
          <datepicker  [(ngModel)]="dt" name="dt"></datepicker>
          <button type="button" class="btn btn-warning" (click)="open()">閉じる</button>
        </div>
      </div>
      </div>

      <div class="form-group">
        <label for="hasseiji">発生時間帯【予想される時間帯】</label>
      <timepicker id="hasseiji" [(ngModel)]="mytime" name="mytime"></timepicker>
      </div>

  <div class="form-group">
    <label for="seihinInfo">製品補足情報</label>
    <textarea type="text" class="form-control" [(ngModel)]="seihininfo" name="seihininfo"  id="seihinInfo" placeholder="(例)製造番号等　補足情報を記入欄"></textarea>
  </div>


      <div class="form-group">
        <label for="yosoukoutei">対応が必要と予想される部署 工程</label>
        <input type="text" class="form-control" [(ngModel)]="yosoukoutei" name="yosoukoutei" id="yosoukoutei" placeholder="(例)生産ライン,梱包作業">
      </div>



      <div class="form-group">
        <label class="control-label col-xs-3">公開しますか?</label>

          <label class="radio-inline">

            <input type="radio" [(ngModel)]="model.label"  name="label" value="kari">仮登録


          </label>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="model.label"  name="label" value="koukai">公開
        </label>

      </div>


      <button *ngIf="OnOff2" type="button" (click)="secondAdd()" class="btn btn-primary btn-block">登録</button>
      <div *ngIf="!OnOff2" class="alert alert-success" role="alert">登録が成功しました。</div>
    </div>
  </div>

<!--エラーダイアログ-->
<app-error-dialog [errorData]="errorData"  #errorDialog></app-error-dialog>
<!--プログレスダイアログ-->
<app-progress-dialog [Data]="Data"  #progrssDialog></app-progress-dialog>
<!--状況追加ダイアログ-->
<app-claim-select #selectClaimDialog></app-claim-select>
