<div class="modal fade" bsModal #lgModal="bs-modal" id="sampleModal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="lgModal.hide()"><span>×</span></button>
        <h4 class="modal-title">対象のファイル</h4>


      </div>
      <div class="modal-body">

        <div style="width: 200px;margin:0 auto" class="thumbnail">

          <!--参考サイト　http://taneppa.net/css3_01/-->
          <p class="img01 waku01"> <img style="height: 150px" src="{{fileData}}"></p>

          <div class="caption">

            <div  class="btn-group" dropdown>
              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                <i class="fa fa-list" aria-hidden="true"></i>　各種操作<span class="caret"></span>
              </button>
              <ul style="cursor: pointer" dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a class="dropdown-item" href="{{fileData}}" target="_blank"><i class="fa fa-picture-o" aria-hidden=" true"></i>　拡大</a></li>
                <li role="menuitem"><a class="dropdown-item"  href="{{fileData}}" download ><i class="fa fa-download" aria-hidden="true"></i>　ダウンロード</a></li>


              </ul>
            </div>



          </div>
        </div>














      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"   (click)="lgModal.hide()" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
