<div class="panel panel-default" style="width: 100%;margin: 0 auto;">
  <div class="panel-heading">
    対応種別登録
  </div>
  <div class="panel-body">

    <div class="form-group">
      <label for="branch">投稿者</label>
      <input type="text" class="form-control" id="branch"  [(ngModel)]="toukousya">
    </div>


    <div class="form-group">
      <label for="naiyou">対象内容</label>

      <textarea type="text" class="form-control" id="naiyou"  [(ngModel)]="naiyou"></textarea>
    </div>


  </div>
</div>
